.typeahead-container {
  label.active {
    color: #26a69a;
    &.filled {
      color: #9e9e9e;
    }
  }
}

.twitter-typeahead {
  display: block!important;
  .tt-dropdown-menu {
    z-index: 9999!important;
    position: absolute!important;
    overflow-y: auto;
    width: 100%;
    top: 3rem!important;
    background-color: #FFFFFF;
    margin-top: 2px;
    padding: 8px 0;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    z-index: 9999;
  }
}

.tt-input,
.tt-hint {
  width: 396px;
  padding: 8px 12px;
  outline: none;
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-suggestion {
  padding: 3px 20px;
}

.tt-suggestion:hover {
  padding: 3px 20px;
  background-color: rgba(0, 0, 0, 0.06);
}

.tt-suggestion p {
  margin: 0;
}