<div id="placeholder-summons-card-casenr  wow bounceInDown" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="summons-card-casenr-template" class="template" data-lang="summons/summons_card_casenr">
  <div class="card  wow bounceInDown">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">{{Texts.CaseNoValue}}</span>
      <div class="divider"></div>
      <div class="row">
        <div class="input-field col s12">
          <label for="courtname" class="active">{{Texts.CourtName}}</label>
          <input id="courtname" type="text" value="{{Texts.CourtNameValue}}" disabled>
        </div>
        <div class="input-field col s12">
          <input id="judge" type="text" value="{{Texts.JudgeValue}}" disabled >
          <label for="judge" class="active">{{Texts.Judge}}</label>
        </div>
        <div class="input-field col s12">
          <label for="dateofhearing">{{Texts.DateOfHearing}}</label>
          <input id="dateofhearing" type="text" class="datepicker today" disabled>
        </div>
        <div class="input-field col s12">
          <input id="addressee" type="text" value="{{Texts.AddresseeValue}}" class="active" disabled >
          <label for="addressee" class="active">{{Texts.Addressee}}</label>
        </div>
      </div>
    </div>
  </div>
</script>