<div class="card  wow bounceInDown">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4">Summons document</span>
    <div class="divider"></div>
    <br>
    <div class="col m6">    
      <div class="input-field col s12 right no-marg-top">
        <select>
          <option value="" disabled selected>{{Filter.Summoner.Label}}</option>
          {{#each Filter.Summoner.Values}}
            <option value="{{@index}}">{{this}}</option>
          {{/each}}
        </select>
      </div> 

      <div class="input-field col s12 right">
        <input id="dateofdispatch" type="date" class="datepicker">
        <label for="dateofdispatch">{{Filter.DateOfDispatch}}</label>
      </div>

      <div class="divider"></div>
    </div>

    <div class="col s12 m6 left">
       <div class="row valign-wrapper">
          <div class="col s4">
            <img src="http://lorempixel.com/200/200/abstract/" alt="" class="circle responsive-img">    
          </div>
       </div>
      </div>
  </div>
</div>