// MATERIALIZE OVERRIDES
// **************************************
html {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:  "Roboto", "NotoKufi", sans-serif;
}

html, body {
  overflow: auto !important;
}

.container {
  width: 80%;
  max-width: none;
}

.container.wide {
  width: 95%;
}

.select-wrapper span.select-dropdown {
  height: 4rem;
  line-height: 5rem;
}

.card {
  overflow: auto;
  &.with-pointer {
      &:before {
      content: '';
      display: block;
      position: fixed;
      width: 0;
      height: 0;
      color: transparent;
      border: 15px solid black;
      border-color: transparent #E0F7FA  transparent transparent;
      top: 40%;
      margin-left: -30px;
    }
  }
}

.identicon {
  max-width: 74px;
  max-height: 74px;
}

.card a {
  color: inherit;
  @include margin-right(inherit);
  text-transform: inherit;
  &:hover {
    color: inherit;
  }
}

.dropdown-content {
  height: auto;
  li {
    font-size: 1rem;
    color: $off-black;
  }
}

footer.page-footer {
  margin-top: 0;
}


// FRAME
// ****************************************
main {
  background: #cfd8dc;
}

// fixed footer flex
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

main {
   flex: 1 0 auto;
}

// COMPONENTS
// ***************************************
.trigger-wrapper {
  position: relative;
}

// .btn-floating.trigger {
//   position: absolute;
//   top: -7px;
//   @include left(-7px);
// }

.btn-floating.trigger {
  position: fixed;
  top: 45%;
  @include left(7.4%);
}

.switch label {
  margin-right: 15px;
  margin-left: 15px;
}

.list-inline li {
  display: inline;
  @include padding-right(10px); 


  &:after {
    content: "|";
    @include margin-left(10px);
  }
}

// JOYRIDE COMPONENT OVERRIDE
// ***************************************
.joyride-expose-wrapper {
  display: none;
}


// FULLCALENDAR FONT SIZE OVERRIDE
// ***************************************
.fc-center h2 {
  font-size: 24px;
  font-weight: 300;
}

// DAILY NEW FILEUPLOAD CARD MARGIN OVERRIDE
// ***************************************
.outer-container {
  margin-top: -68%;
}


// NEW/EDIT - CASE PADDING OVERRIDE FOR CONTENT BOX
// ***************************************
.cont-padding {
  padding: 20px;
}

// FRONTPAGE
// ***************************************
.pp-section {
height: 100vh;
width: 100vw;
}
.front-fullscreen {
 position: fixed;
 top: 20px;
 left: 40px;
 font-size: 2.5rem;
 
 li {
  padding: 15px;
  display: inline;
 }
}

.full-bg {
  background: url('../images/Suleymania2.jpg');
  // url('assets/images/bg-10.jpg');
  // linear-gradient(116deg, #dadf19, #e1ab3e, #ee7009);
  // background-size: 600% 600%;
//   -webkit-animation: second 30s ease infinite;
//   -moz-animation: second 30s ease infinite;
//   -o-animation: second 30s ease infinite;
//   animation: second 30s ease infinite;
//   @-webkit-keyframes second {
//     0%{background-position:0% 51%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 51%}
// }
// @-moz-keyframes second {
//     0%{background-position:0% 51%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 51%}
// }
// @-o-keyframes second {
//     0%{background-position:0% 51%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 51%}
// }
// @keyframes second {
//     0%{background-position:0% 51%}
//     50%{background-position:100% 50%}
//     100%{background-position:0% 51%}
// }
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // background-blend-mode: luminosity;
  // background-blend-mode: multiply;

  input[type=text],
  input[type=password] {
    padding:4px 15px;
    border:1px solid $color-light;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    opacity: 0.6;
    height: 2rem;
    max-width: 400px;
    line-height: 2rem;
  }
  input[type=text]:focus {border-color:#333; }

}

.second-background {
background: linear-gradient(229deg, #a24bcf, #4b79cf, #4bc5cf);
background-size: 600% 600%;
-webkit-animation: second 30s ease infinite;
-moz-animation: second 30s ease infinite;
-o-animation: second 30s ease infinite;
animation: second 30s ease infinite;
@-webkit-keyframes second {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes second {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes second {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes second {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
}

// .section.pagepiling {
//   height: 100%;
//   position: absolute;
//   width: 100%;
//   display: table;


// }



// CONTENT
// *********************************
.main-banner {
  background:  url('../images/Suleymania2.jpg') no-repeat center center;
  background-size: cover;
  margin-top: -64px;
  height: 255px;
  border-bottom: 3px solid #fff;
}

.card-onbanner {
  margin-top: -185px;
  a.round-top {
    vertical-align: middle;
    @include margin-left(-65px);
    // z-index: 200;
    &.add {
      background-color: color("cyan", "darken-1");
    }
    &.remove {
      background-color: color("indigo", "darken-4");
    }
  }
  h4 {
    display: inline-block;
    @include padding-left(15px);
  }
}

.btn.submit {
  background-color: color("cyan", "darken-2");
}

.btn.save {
  background-color: color("cyan", "darken-1");
}

.btn.save-light {
  background-color: color("cyan", "base");
}

.btn.cancel {
  color: color("grey-text", "text-darken-2");
}

.btn.cancel-light {
  background-color: color("grey", "lighten-5");

  i {
    color: $off-black;
  }
}

.btn.trigger-add {
  margin-bottom: -55.5px;
}

.card.large {
  padding: 10px 30px;
  .row {
    margin-bottom: 15px;
    &.title {
      // margin-top: 20px;
    button {
        @include margin-right (20px);
        vertical-align: middle;
      }
    }
  }
}

.check-inline {
  [type="checkbox"]:not(:checked) + label:before {
    top: 15px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    padding-top: 15px;
  }
  [type="checkbox"]:checked + label:before {
    top: 7px;
  }
}

input[type=text].valid,
input[type=password].valid,
input[type=email].valid,
input[type=date].valid,
textarea.valid {
  border-bottom: 1px solid $success-color;
  @include box-shadow(0 1px 0 0 $success-color);
}

  input[type=text].input-validation-error,
  input[type=password].input-validation-error,
  input[type=email].input-validation-error,
  input[type=date].input-validation-error,
  input[type=tel].input-validation-error,
  input[type=number].input-validation-error,
  textarea.input-validation-error,
  textarea.materialize-textarea.input-validation-error {
  border-bottom: 1px solid $error-color;
  @include box-shadow(0 1px 0 0 $error-color);
  }

.input-field label {
  // color: #444;
  &span.field-validation-error,
  &.success {
    display: none;
    @include right(0.75rem);
    @include left(auto);
    top: 50px;
    font-weight: strong;
    font-size: 12px;
  }
  &span.field-validation-error {
    color: $error-color;
  }
  &.success {
    color: $success-color;
  }
}

.switch.col {
  height: 3rem;
}

.select-inline {
  .select-wrapper span.select-dropdown {
  height: 3rem;
  line-height: 3rem;
  }
}

.valign-bottom {
  align-self: flex-end;
}

// .rotate-45 {
//   -webkit-transform: rotate(45deg);
//   -moz-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   -o-transform: rotate(45deg);
//   transform: rotate(45deg);
// }

// Table style
// **********************
table {

  th.sorting_desc .btn-flat i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
    }

  a { white-space: nowrap }
  thead {
    border-bottom: 1px solid #9E9E9E !important;
  }
  &.dataTable tr:hover {
    cursor: pointer;
  }
}

.with-table {
  padding: 0 35px;
  background: #fff;
}

// .status.bullet {
//   display: inline-block;
//   width: 10px;
//   height: 10px;
//   background-color: #ddd;
//   border-radius: 50%;
//   &.draft {
//     background-color: #FF9800;
//   }
//   &.draft {
//     background-color: #FF9800;
//   }
// }

i.status {
  color: #ddd;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
  font-size: 0.6rem;
  &:before {
    font-family: "Material-Design-Icons";
    font-style: normal;
    content: "\e7da";

  }
  &.draft {
    color: color("amber", "darken-3");
  }
  &.pending {
    color: color("red", "darken-4");
  }
  &.registered {
    color: color("light-blue", "lighten-1");
  }
  &.in-proceedings {
    color: color("teal", "lighten-1");
  }
  &.in-next {
    color: color("light-green", "base");
  }
  &.closed {
    color: color("grey", "base");
  }
  &.rejected {
    color: color("grey", "darken-4");
  }
  &.audited {
    color: color("light-blue", "lighten-1");
  }  
  &.sent {
    color: color("light-blue", "lighten-1");
  }

}

// i.tiny-xs {
//   font-size: 0.8rem;
// }

// Filter
// *************
.dropdown-content.simplified {
  margin-top: 3.9rem;
  & li > a {
    color: inherit;
    font-size: 1rem;
  }
}

.dropdown-button-simplified {
  display: block;
  padding: 0px 15px;
  line-height: 5rem;
  height: 4rem;
  border-bottom: 1px solid color("grey", "base");
}

// .filter-action {
//   margin-top: -35px;
// }

.input-field .prefix {
  opacity: 0.8;
}


// DataCol
// *************

div[data-datacol-model] {
  display: none;
}


.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {
    width: 396px;
    padding: 8px 12px;
    outline: none;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
  background-color: #FFFFFF;
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    z-index:9999;
}

span.tt-dropdown-menu{
  z-index:9999!important;
  position:absolute!important;
  overflow-y:auto;
}

.tt-suggestion {
    padding: 3px 20px;
}

.tt-suggestion:hover {
    padding: 3px 20px;
    background-color: rgba(0, 0, 0, 0.06);
}

.tt-suggestion p {
    margin: 0;
}

.typeahead-container label.active.filled{
  color: #9e9e9e;
}

.typeahead-container label.active{
  color: #03a9f4;
}

.select-label .select-wrapper span.select-dropdown {
  line-height:3rem;
  height:3rem;
}

table.dataTable.order-column tbody tr > .sorting_1, {
   background-color: whitesmoke;
  }



