<div class=" filter-action left">
  <button class="btn btn-large waves-effect waves-light submit left" type="button" name="search">
    {{Filter.ButtonSearch}}
    <i class="mdi-navigation-search right"></i>
  </button>
  <button class="btn btn-large waves-effect waves-light save left" type="button" data-toggle="collapse" data-target="#moreFields">
    {{Filter.ButtonMoreFields}}
    <i class="mdi-navigation-expand-more right"></i>
  </button>
  <button class="btn btn-large waves-effect waves-light cancel-light left" name="clear">
    <i class="mdi-content-clear "></i>
  </button>
</div>