<div class="filter-action">
  <button class="btn btn-large waves-effect waves-light submit left" type="button" name="search">
    {{Filter.ButtonSearch}}
    <i class="mdi-navigation-search right"></i>
  </button>
  <button class="btn btn-large waves-effect waves-light save left collapsed" type="button" data-toggle="collapse" data-target="#moreFields" data-less-text="{{Filter.ButtonLessFields}}">
    {{Filter.ButtonMoreFields}}
    <i class="mdi-navigation-expand-more right"></i>
  </button>
  <button class="btn btn-large waves-effect waves-light cancel-light left" name="clear">
    <i class="mdi-content-clear "></i>
  </button>
</div>