<div id="placeholder-list-filter-action" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="list-filter-action-template" class="template" data-lang="common/list_filter_action">
<div class="filter-action">
  <button class="btn btn-large waves-effect waves-light submit left" type="button" name="search">
    {{Filter.ButtonSearch}}
    <i class="mdi-navigation-search right"></i>
  </button>
  <button class="btn btn-large waves-effect waves-light save left collapsed" type="button" data-toggle="collapse" data-target="#moreFields" data-less-text="{{Filter.ButtonLessFields}}">
    {{Filter.ButtonMoreFields}}
    <i class="filter-toggle mdi-navigation-expand-more right"></i>
  </button>
  <button class="btn btn-large waves-effect waves-light btn-flat left" name="clear">
    <i class="mdi-content-clear "></i>
  </button>
</div>
</script>
