<div id="placeholder-round-top-fw  wow bounceInDown" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="round-top-fw-template" class="template" data-lang="common/round_top">


<h4 class="header white-text text-darken-2">@@formName <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Look it's a table"><i class="mdi-action-info-outline"></i></a></h4>

</script>

<!-- <a class="btn-floating btn-large waves-effect waves-light round-top add" href="@@fwTo">
  <i class="create-case mdi-content-add"></i>
</a> -->