<div id="placeholder-case-form-general" class="template-placeholder"></div>
  <script type="text/x-handlebars-template" id="case-form-general-template" class="template" data-lang="registry/case-cards/case_form_general">
  <div class="card  wow">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">{{Texts.Case}} {{Content.No}}</span>
      <div class="col s12 m1 check-inline">
        <input type="checkbox" id="urgent" /><label for="urgent">{{Texts.Urgent}}</label>
      </div>
      <div class="col s12 m2 check-inline">
        <input type="checkbox" id="confidential" /><label for="confidential">{{Texts.Confidential}}</label>
      </div> 
      
      <div class="divider"></div>
      <div class="row">
        <div class="col s12 m6">
          <select>
            <option value="" selected>{{Texts.Judge.Label}}</option>
            {{#each Texts.Judge.Values}}
              <option value="{{@index}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="input-field col s12 m6">
          <input id="claimValue" type="text" class="validate" value="" >
          <label for="claimValue">{{Texts.CaseValue}}</label>
        </div>
        <div class="col s12 m6">
           <select>
            <option value="" selected disabled>{{Texts.CaseType.Label}}</option>
            {{#each Texts.CaseType.Values}}
              <option value="{{@index}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <div class="input-field col s12 m6">
          <label for="paymentDate">{{Texts.RegisteredAt}}</label>
          <input id="paymentDate" type="text" class="datepicker today">
        </div>
      </div>
    </div>
  </div>
</script>