<div id="placeholder-case-form-general-2" class="template-placeholder"></div>
  <script type="text/x-handlebars-template" id="case-form-general-template" class="template" data-lang="registry/case-cards/case_form_documents_upload">
  <div class="card  wow cont-padding" style="padding: 20px">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">{{Texts.Documents}}</span>
      
      @@include('case-card-documents-table-filter.html')
      
      @@include('case-card-documents-table-table.html')
    </div>
  </div>
</script>