  <a data-toggle="collapse" href="#collapseRepresentative" class="card-title grey-text text-darken-4 ">
    <i class="mdi-navigation-more-vert"></i>
    {{Representative.Representative}}
  </a>
  <div class="divider"></div>
  <div class="row collapse in" id="collapseRepresentative">
    <div class="col s12 right">
      <select>
        <option value="" selected>{{Representative.Type.Label}}</option>
        {{#each Representative.Type.Values}}
          <option value="{{@index}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <div class="input-field col s12 right">
      <input id="parent_0" type="text" class="validate" value="">
      <label for="parent_0">{{Representative.FullName}}</label>
    </div>
    <div class="input-field col s12 right">
      <input id="parentId_0" type="text" value="">
      <label for="parentId_0">{{Representative.ID}}</label>
    </div>
    <div class="input-field col s12 right">
      <input id="parentPhone_0" type="text" value="">
      <label for="parentPhone_0">{{Representative.Phone}}</label>
    </div>
    <div class="input-field col s12 right">
      <input id="parentAddress_0" type="text" value="">
      <label for="parentAddress_0">{{Representative.Address}}</label>
    </div>
  </div>
