<div id="placeholder-case-form-documents-upload" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="case-form-documents-upload-template" class="template" data-lang="registry/case-cards/case_form_documents_upload">
<div class="card">
  <div class="card-content">
  <span class="card-title grey-text text-darken-4">{{Texts.Documents}}</span>
    
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 center">
        <div class="card-panel bg-light valign-wrapper">
            <span ><h5><i class="mdi-file-file-upload"></i>{{Texts.DropFilesHere}}</h5>{{Texts.ClickHere}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
</script>