
  <div class="card  wow cont-padding">
    <div class="card-content">
      <div class="card-title grey-text text-darken-4">Select primary case for unification</div>
      <div class="divider"></div>
      <p>
        <input type="radio" id="primary1" name="primary" /><label for="primary1">2015/13/137</label>
      </p>

      <p>
        <input type="radio" id="primary2"  name="primary" /><label for="primary2">2015/13/139</label>
      </p> 
      </div>
    </div>
      <div id="placeholder-daily-form-general  wow bounceInDown" class="template-placeholder"></div>
      <script type="text/x-handlebars-template" id="daily-form-general-template" class="template" data-lang="daily-register/daily_form_general">

    
    <div class="card  wow cont-padding">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">Select proceeding members</span>
      <div class="divider"></div>
      <div class="row">
        <div class="col s12">
          <table>
            <thead>
              <tr>
                <th data-field="price">Participants full name</th>
                <th data-field="price">Participants role</th>
                <th data-field="name">Defendants <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Say something"><i class="mdi-action-info-outline"></i></a></th>
                <th data-field="id">Claimants <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Say something"><i class="mdi-action-info-outline"></i></a></th>
              </tr>
            </thead>
            <tbody>
              {{#each Persons}}
              <tr>
                <td>
                <span class="check-inline">
                    <input type="checkbox" id="a{{@index}}" /><label for="a{{@index}}"> </label>
                  </span> {{this.Name}}</td>
                <td>{{this.Type}}</td>
                <td >
                  <span class="check-inline">
                    <input type="checkbox" id="a{{@index}}" /><label for="a{{@index}}"> </label>
                  </span> {{this.Name}}</td>
                </td>
                <td >
                  <span class="check-inline">
                    <input type="checkbox" id="a{{@index}}" /><label for="a{{@index}}"> </label>
                  </span> {{this.Name}}</td>
                </td>
              </tr>
              {{/each}}
              <tr class="divided">
                <td>
                <span class="check-inline">
                    <input type="checkbox" id="a{{@index}}" /><label for="a{{@index}}"> </label>
                  </span> Select all</td>
                <td>{{this.Type}}</td>
                <td >
                  <span class="check-inline">
                    <input type="checkbox" id="a{{@index}}" /><label for="a{{@index}}"> </label>
                  </span> Select all</td>
                </td>
                <td >
                  <span class="check-inline">
                    <input type="checkbox" id="a{{@index}}" /><label for="a{{@index}}"> </label>
                  </span> Select all</td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </script>


<div id="placeholder-case-form-general-2" class="template-placeholder"></div>
  <script type="text/x-handlebars-template" id="case-form-general-template" class="template" data-lang="registry/case-cards/case_form_documents_upload">
  <div class="card  wow cont-padding" style="padding: 20px">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">{{Texts.Documents}}</span>
      

      
      @@include('case-card-documents-table-table.html')
    </div>
  </div>
</script>
      
