
<div class="col s12 m6 trigger-wrapper">
  <a class="dropdown-button btn-floating waves-effect waves-light cyan lighten-2 trigger trigger-add-note" href="#!" data-activates='addNote'><i class="mdi-content-add animated rotateIn"></i></a>
  <div class="card cyan lighten-5">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">Note</span>
      <div class="divider"></div>
      <div class="col s12 m10 offset-m2">
        <div class="row valign-wrapper">
         <div class="col s2">
           <img src="http://lorempixel.com/200/200/people/" alt="" class="circle responsive-img"> 
         </div>
         <div class="col s10">
           <span class="black-text">
             This is note by a specific person. Can we use identicons? Visual helpers are always good ana it should be easy to implement.
           </span>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>



