<div class="card  wow bounceInDown">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4">Pick a hearing time</span>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s12 m6">
        <label for="hearingDate">Date</label>
        <input id="hearingDate" type="text" class="datepicker">
      </div>
      <div class="input-field col s12 m6">
        <label for="hearingTime">Time</label>
        <input id="hearingTime" type="text" class="timepicker">
      </div>
    </div>
  </div>
</div>