<div class="card">
	<div class="card-content">
		<div id="daily-register-calendar" class="dailycalendar"></div>
	</div>
</div>	
<div id="placeholder-daily-form-calendar  wow bounceInDown" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="daily-form-calendar-template" class="template" data-lang="daily-register/daily_form_calendar">
	<div id="confirm-modal" class="modal">
		<div class="modal-content">
			<h4>{{Texts.Confirm}}</h4>
			<p>{{Texts.YourChangesWillBeSaved}}</p>
		</div>
		<div class="modal-footer">
			<a href="daily-new.html" class="btn waves-effect waves-light save right modal-action">{{Texts.Agree}}</a>
			<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close right"><i class="mdi-content-clear"></i></a>
		</div>
	</div>
</script>