<div id="placeholder-daily-form-general  wow bounceInDown" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="daily-form-general-template" class="template" data-lang="daily-register/daily_form_general">
  <div class="card">
    <div class="card-content wow bounceInDown">
      <span class="card-title grey-text text-darken-4">{{Texts.AttendeesAndSummons}}</span>
      <div class="divider"></div>
      <div class="row">
        <div class="col s12">
          <table>
            <thead>
              <tr>
                <th data-field="price">{{Texts.FullName}}</th>
                <th data-field="price">{{Texts.Role}}</th>
                <th data-field="name">{{Texts.SendSummon}} <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="{{Texts.SendSummonInfo}}"><i class="mdi-action-info-outline"></i></a></th>
                <th data-field="id">{{Texts.AttendHearing}} <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="{{Texts.AttendHearingInfo}}"><i class="mdi-action-info-outline"></i></a></th>
              </tr>
            </thead>
            <tbody>
              {{#each Persons}}
              {{#if this.IsRepresentative}}
              <tr class="belongs-to">
              {{else}}
              <tr>
              {{/if}}
                <td>{{this.Name}}</td>
                <td>{{this.Type}}</td>
                <td class="center-align">
                  <div class="check-inline">
                    <input type="checkbox" id="a{{@index}}" /><label for="a{{@index}}"> </label>
                  </div>
                </td>
                <td class="center-align">
                  <div class="check-inline">
                    <input type="checkbox" id="l{{@index}}" checked /><label for="l{{@index}}"> </label>
                  </div>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</script>
