<div class="card">
	<div class="card-content">
		<div id="daily-register-calendar" class="dailycalendar"></div>
	</div>
</div>	

<div id="confirm-modal" class="modal">
	<div class="modal-content">
		<h4>Are you sure you want to go to case nr 2034/234?</h4>
		<p>Your current changes will be saved to draft.</p>
	</div>
	<div class="modal-footer">
		<a href="daily-new.html" class="btn waves-effect waves-light save right modal-action">Agree</a>
		<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close right"><i class="mdi-content-clear"></i></a>
	</div>
</div>
