<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4">Case 32145</span>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12">
      <table>
        <thead>
          <tr>
            <th data-field="price">Full name</th>
            <th data-field="price">Role</th>
            <th data-field="name">Send summon</th>
            <th data-field="id">Attend hearing</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Hookus Pookus</td>
            <td>Claimant</td>
            <td class="center-align">
              <div class="check-inline">
                <input type="checkbox" id="1"/><label for="1"> </label>
              </div>
            </td>
            <td class="center-align">
              <div class="check-inline">
                <input type="checkbox" id="2" checked/><label for="2"> </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Alan Mairmaid</td>
            <td>Defendant</td>
            <td class="center-align">
              <div class="check-inline">
                <input type="checkbox" id="3" checked/><label for="3"> </label>
              </div>
            </td>
            <td class="center-align">
              <div class="check-inline">
                <input type="checkbox" id="4" checked/><label for="4"> </label>
              </div>
            </td>
          </tr>
          <tr>
            <td>Jonathan Misterman</td>
            <td>Participant</td>
            <td class="center-align">
              <div class="check-inline">
                <input type="checkbox" id="5" checked/><label for="5"> </label>
              </div>
            </td>
            <td class="center-align">
              <div class="check-inline">
                <input type="checkbox" id="6" checked/><label for="6"> </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>