<div class="row no-marg-bot">
  <div class="input-field select-label col s12 m2 right">
    <label class="active">{{Filter.Status.Label}}</label>  
    <select class="status-select">
      <option value="" disabled selected>{{Filter.SelectStatus}}</option>
        {{#each Filter.Status.Values}}
          <option value="{{@index}}">{{this}}</option>
        {{/each}}
    </select>
  </div>
  <div class="input-field typeahead-container col s12 m2 right">
    <input id="caseNumber" class="typeahead-input casenrs" type="text">
    <label for="caseNumber">{{Filter.CaseNumber}}</label>
  </div>
  <div class="input-field select-label col s12 m2 right">
    <label class="active">{{Filter.CaseType.Label}}</label>  
    <select>
      <option value="" disabled selected>{{Filter.SelectCasetype}}</option>
      {{#each Filter.CaseType.Values}}
        <option value="{{@index}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="input-field typeahead-container col s12 m2 right">
    <input id="claimant" class="typeahead-input persons" type="text" >
    <label for="claimant">{{Filter.Claimant}}</label>
  </div>
  <div class="input-field col s12 m2 right">
    <i class="mdi-notification-event-note prefix"></i>
    <input id="startDate" type="date" class="datepicker">
    <label for="startDate">{{Filter.From}}</label>
  </div>
  <div class="input-field col s12 m2 right">
    <i class="mdi-notification-event-note prefix"></i>
    <label for="endDate">{{Filter.To}}</label>
    <input id="endDate" type="text" class="datepicker">
  </div>
</div>

<!-- hidden by toggle -->
<div class="row collapse" id="moreFields">
  <div class="col input-field  select-label s12 m3 right">
    <label class="active">{{Filter.CourtType.Label}}</label>    
    <select>
      <option value="" disabled selected>{{Filter.SelectCourt}}</option>
      {{#each Filter.CourtType.Values}}
        <option value="{{@index}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="input-field typeahead-container col s12 m3 right">
    <input id="judge"  class="typeahead-input persons" type="text">
    <label for="judge">{{Filter.Judge}}</label>
  </div>
  <div class="input-field typeahead-container col s12 m3 right">
    <input id="payer"  class="typeahead-input persons" type="text">
    <label for="payer">{{Filter.Payer}}</label>
  </div>
    <div class="input-field col s12 m3 right">
    <input id="recipt" type="text">
    <label for="recipt">{{Filter.Receipt}}</label>
  </div>
</div>
