<div class="row no-marg-bot">
  <div class="input-field select-label col s12 m4 right">
    <label class="active">Status</label>
    <select class="status-select">
      <option value="" disabled selected>Please select status</option>
      <option class="status pending">Pending</option>
      <option class="status sent">Sent</option>
    </select>
  </div>


  <div class="input-field typeahead-container col s12 m4 right">
      <input id="addresse" class="typeahead-input persons" type="text">
      <label for="addresse">{{Filter.Addressee}}</label>
  </div>

  <div class="input-field typeahead-container col s12 m4 right">
    <input id="caseNumber" class="typeahead-input casenrs" type="text">
    <label for="caseNumber">{{Filter.CaseNumber}}</label>
  </div>
</div>

<!-- hidden by toggle -->
<div class="row collapse" id="moreFields">
  <div class="input-field col s12 m2 right">
    <input id="judge" type="text">
    <label for="judge">{{Filter.Judge}}</label>
  </div>

  <div class="input-field select-label select-label col s12 m2 right">
    <label class="active">CourtName</label>
    <select>
      <option value="" disabled selected>Select court</option>    
      <!-- <option value="" disabled selected>{{Filter.CourtName.Label}}</option> -->
      {{#each Filter.CourtName.Values}}
        <option value="{{@index}}">{{this}}</option>
      {{/each}}
    </select>
  </div>

  <div class="input-field select-label col s12 m2 right">
    <label class="active">Select summoner</label>
    <select>
      <option value="" disabled selected>{{Filter.Summoner.Label}}</option>
      {{#each Filter.Summoner.Values}}
        <option value="{{@index}}">{{this}}</option>
      {{/each}}
    </select>
  </div>

  <div class="input-field col s12 m2 right">
    <input id="dateofhearing" type="date" class="datepicker">
    <label for="dateofhearing">{{Filter.DateOfHearing}}</label>
  </div>
  <div class="input-field col s12 m2 right">
    <input id="dateofsummon" type="date" class="datepicker">
    <label for="dateofsummon">{{Filter.DateOfSummon}}</label>
  </div>

</div>