
<div class="row">

  <div class="col s12 m6">
    @@include('./summons-cards/summons-card-casenr.html')
  </div>

  <div id="placeholder-summons-filter" class="template-placeholder"></div>
  <script type="text/x-handlebars-template" id="summons-filter-template" class="template" data-lang="summons/filter">
  <div class="col s12 m6">
    @@include('./summons-cards/summons-card-summoner.html')
  </div>
  </script>
</div>
<div id="the-basics">
              <input class="typeahead" type="text" placeholder="States of USA">
            </div>


<button class="btn btn-large waves-effect waves-light submit right" onclick="window.location.href='@@backTo'">Register</button>
<button class="btn btn-large waves-effect waves-light save right" onclick="window.location.href='@@backTo'"><i class="mdi-action-print right"></i>Print</button>
<button class="btn btn-flat btn-large lighten-4 waves-effect waves-light cancel right" onclick="window.location.href='@@backTo'" ><i class="mdi-content-clear"></i></button>

