<a class="btn-floating btn-large waves-effect waves-light round-top remove" href="registry.html"><i class="mdi-navigation-close"></i></a>
<h4 class="header white-text text-darken-2">Case no 246/43/3465</h4>

<div class="row">
  @@include('./registry-form-general.html')

    <!-- Dropdown Trigger -->

  <div class="panel-group" id="initiate-form-registered">
    
    @@include('./registry-form-claimant.html', {"person":"Claimant" })
    @@include('./registry-form-defendant.html', {"person":"Defendant"})
    @@include('./registry-form-participant.html', {"person":"Participant"})
  </div>
  @@include('./registry-documents-included.html')
  @@include('./registry-form-note-filled.html')
</div>

<div class="row">
  <div class="col s12">
    <button class="btn btn-large waves-effect waves-light submit right">Send to judge</button>
    <button class="btn btn-large waves-effect waves-light save right">Register</button>
    <button class="btn btn-large waves-effect waves-light save-light right">Save</button>
    <button class="btn btn-flat btn-large waves-effect waves-light cancel right" type="submit" name="action" ><i class="mdi-content-clear"></i></button>
  </div>
</div>


<!-- Dropdown Structure -->
<ul id='add' class='dropdown-content'>
  <li><a href="#!" data-datacontainer="#Claimants" class="js-addDataRow">Add a claimant</a></li>
  <li><a href="#!" data-datacontainer="#Defendants" class="js-addDataRow">Add a defendant</a></li>
  <li><a href="#!" data-datacontainer="#Participants" class="js-addDataRow">Add a participant</a></li>
</ul>

<!-- Alert modal Structure -->
<div id="modal1" class="modal">
  <h4>Hei!</h4>
  <p>You are about to delete the claimant. Are you sure? </p>
  <hr>
  <div class="right">
    <a href="#" class="waves-effect btn-flat modal-close">No</a>
    <a href="#" class="waves-effect btn teal modal-close">Yes</a>
  </div>
</div>

