<a class="btn-floating btn-large waves-effect waves-light grey darken-2 adds-form" href="registry.html"><i class="mdi-navigation-close"></i></a>
<h4 class="header white-text text-darken-2">New case</h4>

<div class="row">
  @@include('./registry-form-general.html')

    <!-- Dropdown Trigger -->

  <div class="panel-group" id="initiate-form">
    
    @@include('./registry-form-claimant.html', {"person":"Claimant", "trigger": "true", "representative": true })
    @@include('./registry-form-claimant.html', {"person":"Defendant", "representative": true})
    @@include('./registry-form-claimant.html', {"person":"Participant", "representative": false})
  </div>
  @@include('./registry-form-documents.html')
  @@include('./registry-form-notes.html')
</div>

<div class="row">
  <div class="col s12">
    <hr>
    <button class="btn-flat waves-effect waves-light">Cancel</button>
    <button class="btn bg-orange waves-effect waves-light">Send to judge<i class="mdi-content-send"></i></button>
    <button class="btn bg-water waves-effect waves-dark">Register<i class="mdi-editor-border-color"></i></button>
    <button class="btn bg-mauve waves-effect waves-dark">Save for later<i class="mdi-editor-border-color"></i></button>
  </div>
</div>

<!-- Dropdown Structure -->
<ul id='add' class='dropdown-content'>
  <li><a href="#!" data-datacontainer="#Claimants" class="js-addDataRow">Add a claimant</a></li>
  <li><a href="#!" data-datacontainer="#Defendants" class="js-addDataRow">Add a defendant</a></li>
  <li><a href="#!" data-datacontainer="#Participants" class="js-addDataRow">Add a participant</a></li>
</ul>

<!-- Alert modal Structure -->
<div id="modal1" class="modal">
  <h4>Hei!</h4>
  <p>You are about to delete the claimant. Are you sure? </p>
  <hr>
  <div class="right">
    <a href="#" class="waves-effect btn-flat modal-close">No</a>
    <a href="#" class="waves-effect btn teal modal-close">Yes</a>
  </div>
</div>

