<div class="row collapse" id="toggleRepresentative">
  <span class="card-title grey-text text-darken-4">Representative</span>
  <div class="divider"></div>

  <div class="col s12 right">
    <select>
      <option value="" selected>Select type <i class="mdi-content-add"></i> </option>
      <option value="1">Lawyer</option>
      <option value="2">Parent</option>
      <option value="3">Legal guardian</option>
      <option value="4">Other</option>
    </select>
  </div>

  <div class="input-field col s12 right">
    <input id="parent" type="text" class="validate" value="">
    <label for="parent">Representatives full name</label>
  </div>
  <div class="input-field col s12 right">
    <input id="parentId" type="text">
    <label for="parentId">Representatives ID</label>
  </div>
  <div class="input-field col s12 right">
    <input id="parentPhone" type="text">
    <label for="parentPhone">Representatives Phone</label>
  </div>
  <div class="input-field col s12 right">
    <input id="parentAddress" type="text" value="">
    <label for="parentAddress">Representatives address</label>
  </div>
</div>
