<div id="@@persons">
  <div>
    <div class="col s12 m6 trigger-wrapper">
      @@if ("trigger" === "true") {
      <a class="dropdown-button btn-floating waves-effect waves-light cyan lighten-2 trigger trigger-add" href="#!" data-activates='add'><i class="mdi-content-add animated rotateIn"></i></a>
      }
      <div class="card">
        <div class="card-content">
          <div id="heading@@person">
            <a data-toggle="collapse" href="#collapse@@person" class="card-title grey-text text-darken-4">
              <i class="mdi-navigation-more-vert"></i>@@person <i class="mdi-navigation-close left"></i></a>
            <div class="divider"></div>
          </div>
          <div class="row">
            <div class="input-field col s12 right"  id="the-basics">
              <input id="@@person" type="text" class="validate"  value="">
              <label for="@@person">@@persons full name</label>
            </div>
          </div>
          <div class="collapse" id="collapse@@person">
            <div class="row">
              <div class="switch col s12 right">
                <span>Legal entity</span>
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
                <span>Natural person</span>
              </div>
              <div class="input-field col s12 right">
                <input id="@@personAddress" type="text" class="validate" value="">
                <label for="@@personAddress">@@persons address</label>
              </div>
              <div class="input-field col s12 right">
                <input id="@@personId" type="text">
                <label for="@@personId">Document number</label>
              </div>
              <div class="input-field col s12 right">
                <input id="@@personPhone" type="text">
                <label for="@@personPhone">@@persons phone</label>
              </div>
            </div>
            @@if ("representative" === true) {
              @@include('./registry-form-representative.html')
            }
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

