/* =============================================================================
Base
========================================================================== */
$joyrideTooltipMaxWidth: 50%;
$joyrideTooltipBackground: black;
$joyrideTooltipBorderColour: fade-out($joyrideTooltipBackground, 0.2);
$joyrideTooltipZIndex: 103;

/* =============================================================================
Type
========================================================================== */
$joyrideFontSize: 1rem;
$joyrideTooltipFontFamily: inherit;
$joyrideTooltipFontWeight: normal;
$joyrideTextColour: $joyrideTooltipBackground;

/* Headers */
$joyrideTooltipHeadingLineHeight: 1.25;
$joyrideTooltipHeadingColour: invert($joyrideTooltipBackground);
/* =============================================================================
Appearance
========================================================================== */
/* Allow rounded corners? */
$joyrideTooltipRounded: true;
/* If so, how large? */
$joyrideTooltipBorderRadius: 0.4rem;

$joyrideTooltipPadding: 2rem;
$joyrideTooltipOffset: 1.5rem;
$joyrideTooltipCalloutSize: 1rem;

/* Close tip */
$joyrideCloseSize: $joyrideFontSize * 0.8;

/* Indicator */
$joyrideIndicatorSize: 4rem;

$joyrideNextButtonColour: color("amber", "darken-3");
$joyrideNextButtonBorderColour: $joyrideNextButtonColour - 20;
