.switch,
.switch * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.switch label {
    cursor: pointer;
}
.switch label input[type=checkbox]:first-child {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch label input[type=checkbox]:first-child:checked + .lever {
    background-color: #7bc5be;
}
.switch label input[type=checkbox]:first-child:checked + .lever:after {
    background-color: #009587;
}
.switch label .lever,
.switch label input[type=checkbox][disabled]:first-child + .lever {
    content: "";
    display: inline-block;
    width: 45px;
    height: 15px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    @include margin-left(5px);
}
.switch label .lever:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #F1F1F1;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4);
    @include left(-5px);
    top: -2px;
    @include ltr {
        transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
    }
        @include rtl {
        transition: right 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
    }
}

.switch label input[type=checkbox][disabled]:first-child + .lever:after,
.switch label input[type=checkbox][disabled]:checked:first-child + .lever:after {
    background-color: #BDBDBD;
}
input[type=checkbox]:first-child:checked ~ .lever:active:after {
       box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4), 0 0 0 15px rgba(0, 149, 135, 0.1);
}
input[type=checkbox]:first-child ~ .lever:active:after,
input[type=checkbox][disabled]:first-child ~ .lever:active:after {
       box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
}
.switch label input[type=checkbox]:first-child:checked + .lever:after {
    @include left(30px);
}