<div id="placeholder-daily-register-filter-content" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="daily-register-filter-content-template" class="template" data-lang="daily-register/daily_register_filter_content">
<div class="row no-marg-bot">
  <div class="input-field typeahead-container col s12 m3 right">
    <input class="typeahead-input casenrs" id="caseNumber" type="text">
    <label for="caseNumber">{{Filter.CaseNumber}}</label>
  </div>
  <div class="input-field typeahead-container col s12 m3 right">
    <input id="claimant" type="text" class="typeahead-input persons">
    <label for="claimant">{{Filter.Claimant}}</label>
  </div>
  <div class="input-field typeahead-container col s12 m3 right">
    <input id="defendants" type="text" class="typeahead-input persons">
    <label for="defendants">{{Filter.Defendant}}</label>
  </div>
  <div class="input-field select-label col s12 m3 right">
    <label class="active">{{Filter.SelectStatus}}</label> 
    <select class="status-select">
      <option value="" disabled selected>{{Filter.SelectStatus}}</option>
      <option class="status pending">{{Filter.Pending}}</option>
      <option class="status registered">{{Filter.Registered}}</option>
    </select>
  </div>
</div>
</script>