<div class="row">
  <div class="col s12">
    @@include('./daily-cards/daily-form-timepicker.html')
  </div>
  <div class="col s12 m6">
    @@include('./daily-cards/daily-form-general.html')

      @@include('../common/common-cards/case-documents-upload.html')
  </div>
    <div class="col s12 m6">
      @@include('./daily-cards/daily-form-calendar.html')
  </div>
  
<!--   <div class="col s12 m6 trigger-wrapper">
      <div class="outer-container">
        <div class="card">
          <div class="card-content">
            @@include('../common/common-cards/case-card-documents-upload.html')  
          </div>
        </div>
      </div> 
  </div> -->
   <div class="col s12 m6">
      @@include('../common/common-cards/case-form-note.html')
    </div>

</div>
<div id="placeholder-daily-new  wow bounceInDown" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="daily-new-template" class="template" data-lang="daily-register/daily_new">
  <button class="btn btn-large waves-effect waves-light submit right" onclick="window.location.href='@@backTo'">{{Texts.SaveAndGenerateSummons}}</button>
  <button class="btn btn-large waves-effect waves-light save right" onclick="window.location.href='@@backTo'">{{Texts.Save}}</button>
  <button class="btn btn-flat btn-large lighten-4 waves-effect waves-light cancel right" onclick="window.location.href='@@backTo'"><i class="mdi-content-clear"></i></button>
</script>