<div class="col s12">
  <div class="card overflow-visible">
    <div class="card-content" > 
      <a class="card-title grey-text text-darken-4">Filter</a>
      <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Filter and search here"><i class="mdi-action-info-outline"></i></a>
      <div class="divider"></div>
      @@include('./daily-filter-content.html')
    </div>
  </div>
</div>

<div class="col s12">
  @@include('../common/list-filter-action.html',
  {
    "hidden" : "style='display: none;'"
  })
</div>
