<div id="placeholder-daily-register-filter-content" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="daily-register-filter-content-template" class="template" data-lang="daily-register/daily_register_filter_content">
<div class="row no-marg-bot">
  <div class="input-field col s12 m3 right">
    <input id="caseNumber" type="text">
    <label for="caseNumber">{{Filter.CaseNumber}}</label>
  </div>
  <div class="input-field col s12 m3 right">
    <input id="claimant" type="text" >
    <label for="claimant">{{Filter.Claimant}}</label>
  </div>
  <div class="input-field col s12 m3 right">
    <input id="defendants" type="text">
    <label for="defendants">{{Filter.Defendant}}</label>
  </div>
</div>
</script>