<a class="btn-floating btn-large waves-effect waves-light round-top remove" href="fee.html"><i class="mdi-navigation-close"></i></a>
<h4 class="header white-text text-darken-2">@@formName</h4>

<div class="row">
  <div class="col s12">
    @@include('./fee-card/document-intro.html')
  </div>

  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Claimants</span>
        <div class="divider"></div>
        <ul>
          <li>Forename Middlename Surname</li>
          <li>Forename Middlename Surname</li>
          <li>Forename Surname</li>
          <li>Forename Fathers Name Surname</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    @@include('./fee-card/documents-included.html')
  </div>

<div class="col s12 m6  trigger-wrapper">
    @@include('./fee-card/new-fee-subform.html')
</div>
</div>

<button class="btn btn-large waves-effect waves-light submit right" type="submit" name="action">Accept payment</button>
<button class="btn btn-large waves-effect waves-light save right" type="submit" name="action">Save</button>
<button class="btn btn-flat btn-large lighten-4 waves-effect waves-light cancel right" type="submit" name="action" ><i class="mdi-content-clear"></i></button>