<a class="btn-floating btn-large waves-effect waves-light grey darken-2 adds-form" href="fee.html"><i class="mdi-navigation-close"></i></a>
<h4 class="header white-text text-darken-2">@@formName</h4>
<div class="card large white">
  <div class="card-content">

  </div>

  <div class="card-action">
    <button class="btn bg-orange waves-effect waves-light" type="submit" name="action">Cancel
      <i class="mdi-navigation-cancel right"></i>
    </button>
    <button class="btn bg-water waves-effect waves-dark" type="submit" name="action">Accept
      <i class="mdi-content-save right"></i>
    </button>
  </div>
</div>