<div class="row">
  <div class="col s12 m2 right">
    <ul id="dropdownStatus" class="dropdown-content simplified">
        <li><a href="#!">Drafts<i class="status draft"></i></a></li>
        <li><a href="#!">Pending <i class="status pending"></i></a></li>
        <li><a href="#!">Registered<i class="status registered"></i></a></li>
        <li><a href="#!">In proceedings<i class="status in-proceedings"></i></a></li>
        <li><a href="#!">In next what?<i class="status in-next"></i></a></li>
        <li><a href="#!">Closed<i class="status closed"></i></a></li>
        <li><a href="#!">Rejected<i class="status rejected"></i></a></li>
      </ul>
      <a class="btn-flat dropdown-button-simplified" href="#!" data-activates="dropdownStatus"><i class="mdi-navigation-arrow-drop-down left"></i>Status</a>
  </div>
  <div class="input-field col s12 m2 right">
    <input id="caseNumber" type="text">
    <label for="caseNumber">Case number</label>
  </div>
  <div class="col s12 m2 right">
    <select>
      <option value="" disabled selected>Case type</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
  <div class="input-field col s12 m2 right">
    <input id="claimant" type="text" >
    <label for="claimant">Claimant</label>
  </div>
  <div class="input-field col s12 m2 right">
    <i class="mdi-notification-event-note prefix"></i>
    <input id="startDate" type="date" class="datepicker">
    <label for="startDate">From</label>
  </div>
  <div class="input-field col s12 m2 right">
    <i class="mdi-notification-event-note prefix"></i>
    <label for="endDate">To</label>
    <input id="endDate" type="text" class="datepicker">
  </div>
</div>

<!-- hidden by toggle -->
<div class="row collapse" id="moreFields">
  <div class="col s12 m3 right">
    <select>
      <option value="" disabled selected>Court type</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
  <div class="input-field col s12 m3 right">
    <input id="judge" type="text">
    <label for="judge">Judge</label>
  </div>
  <div class="input-field col s12 m3 right">
    <input id="payer" type="text">
    <label for="payer">Payer</label>
  </div>
    <div class="input-field col s12 m3 right">
    <input id="recipt" type="text">
    <label for="recipt">Receipt</label>
  </div>
</div>