<div class="row">
  <div class="input-field col s12 m2 right">
    <input id="caseNumber" type="text">
    <label for="caseNumber">Case number</label>
  </div>
  <div class="col s12 m3 right">
    <select>
      <option value="" disabled selected>Case type</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
  <div class="input-field col s12 m3 right">
    <input id="claimant" type="text" >
    <label for="claimant">Claimant</label>
  </div>
</div>

<!-- hidden by toggle -->
<div class="row collapse" id="moreFields">
  <div class="input-field col s12 m3 right">
    <input id="claimant" type="text">
    <label for="claimant">Judge</label>
  </div>
  <div class="col s12 m3 right">
    <select>
      <option value="" disabled selected>Court type</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
  <div class="input-field col s12 m2 right">
    <input id="payer" type="text">
    <label for="payer">Payer</label>
  </div>
</div>