<form action="">
  <div id="placeholder-fee-table" class="template-placeholder"></div>

  <script type="text/x-handlebars-template" id="fee-table-template" class="template" data-lang="data/fee/table">
    <table class="hoverable bordered data">
      <thead>
        <th data-field="select">&nbsp;</th>
        <th data-field="status" class="sorting">{{Texts.Status}}</th>
        <th data-field="date" class="sorting">{{Texts.Date}}</th>
        <th data-field="receipt">{{Texts.Receipt}}</th>
        <th data-field="payer">{{Texts.Payer}}</th>
        <th data-field="sum">{{Texts.Sum}}</th>
        <th data-field="claimants">{{Texts.Claimant}}</th>
        <th data-field="courttype">{{Texts.CourtType}}</th>
        <th data-field="casetype" class="sorting">{{Texts.CaseType}}</th>
        <th data-field="casenumber" class="sorting">{{Texts.CaseNumber}}</th>
      </thead>
      <tbody>
      {{#each Cases}}
        <tr>
          <td class="center">
            <input type="checkbox" id="select_{{@index}}" />
            <label for="select_{{@index}}"></label>
          </td>
          <td class="center">
            <i class="status {{Status}}"></i>
          </td>
          <td>{{Date}}</td>
          <td>{{Receipt}}</td>
          <td>{{Payer}}</td>
          <td>{{Sum}}</td>
          <td>{{Claimant}} </td>
          <td>{{CourtType}}</td>
          <td>{{CaseType}}</td>
          <td>{{CaseNumber}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </script>
</form>
