<a class="btn-floating btn-large waves-effect waves-light grey darken-2 adds-form" href="fee.html"><i class="mdi-navigation-close"></i></a>
<h4 class="header white-text text-darken-2">@@formName</h4>

<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Claimants</span>
        <div class="divider"></div>
        <div class="section">
          <p>Forename Middlename Surname</p>
          <p>Forename Middlename Surname</p>
          <p>Forename Surname</p>
          <p>Forename Middlename Surname</p>
          <p>Forename Fathers Name Surname</p>
          <p>Forename Middlename Surname</p>
          <p>Forename Middlename Surname</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Claim document</span>
        <div class="divider"></div>
        <br>
        <div class="col s12 m10 offset-m2">
           <div class="row valign-wrapper">
             <div class="col s2">
               <img src="http://lorempixel.com/200/200/people/" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
             </div>
             <div class="col s10">
               <span class="black-text">
                 This is a pdf preview of the claim. Add more information if relevant.
               </span>
             </div>
           </div>
          </div>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12 right">
            <span class="card-title grey-text text-darken-4">Case</span>
            <div class="col s12 m6 check-inline">
              <input type="checkbox" id="grantJudicialAid" />
              <label for="grantJudicialAid">Grant judicial aid</label>
            </div>
            <div class="divider"></div>
          </div>
<!--           <div class="input-field col s12">
            <input id="case_nr" type="text">
            <label for="case_nr">Case number</label>
          </div> -->
          <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Case type </option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12">
            <select>
              <option value="" disabled selected>Court type</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
          <div class="input-field col s12">
            <i class="mdi-notification-event-note prefix"></i>
            <label for="paymentDate">Payment date</label>
            <input id="paymentDate" type="text" class="datepicker today">
          </div>
          <div class="input-field col s12">
            <input id="payer" type="text" value="This Man Named Somebody, This Man Else"> 
            <label for="payer">Payer</label>
          </div>
        </div>
      </div>
    </div>
  </div>
    @@include('./fee-card/new-fee-subform.html')
</div>

<hr>

<button class="btn btn-flat waves-effect waves-light" type="submit" name="action">Cancel
  <i class="mdi-navigation-cancel"></i>
</button>
<button class="btn bg-water waves-effect waves-dark" type="submit" name="action">Save
  <i class="mdi-content-save"></i>
</button>
<button class="btn bg-orange waves-effect waves-dark" type="submit" name="action">Accept payment
  <i class="mdi-action-done"></i>
</button>
