<a class="btn-floating btn-large waves-effect waves-light cyan darken-3 adds-form" href="registry-new-case.html">
  <i class="mdi-content-add"></i>
</a>
<h4 class="header white-text text-darken-2">Fee</h4>
<div class="card large lighten-2">
  <div class="card-content" >
    @@include('./fee-filter.html')
  </div>
</div>
<div class="filter-action left">
  <button class="btn bg-orange waves-effect waves-light" type="submit" name="search">
    Search
    <i class="mdi-action-search right"></i>
  </button>
  <button class="btn bg-mauve waves-effect waves-light" type="button" data-toggle="collapse" data-target="#moreFields">
    More fields
    <i class="mdi-navigation-expand-more"></i>
  </button>
  <button class="btn bg-mauve waves-effect waves-light" type="button" name="clear">
    Clear all
    <i class="mdi-navigation-close"></i>
  </button>
</div>