<form action="">
  <div id="placeholder-fee-table" class="template-placeholder"></div>

  <script type="text/x-handlebars-template" id="fee-table-template" class="template">
    <table class="hoverable bordered data">
      <thead>
        <th data-field="status" class="sorting">Status</th>
        <th data-field="date" class="sorting">Date</th>
        <th data-field="casenumber" class="sorting">Case number</th>
        <th data-field="casetype" class="sorting">Case type</th>
        <th data-field="claimants">Claimant</th>
        <th data-field="defendants">Defendant</th>
        <th data-field="paticipants">Participants</th>
        <th data-field="judge">Judge</th>
      </thead>
      <tbody>
      {{#each Cases}}
        <tr>
          <td class="center"><i class="status {{Status}}"></i></td>
          <td>{{Date}}</td>
          <td>{{CaseNumber}}</td>
          <td>{{CaseType}}</td>
          <td>{{Claimant}}</td>
          <td>{{Defendant}} </td>
          <td>{{Participants}}</td>
          <td>{{Judge}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </script>
</form>