<div class="card  wow bounceInDown">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4">Payment</span>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s12">
        <input id="payer" type="text" value="This Man Named Somebody, This Man Else"> 
        <label for="payer">Payer</label>
      </div>
      <div class="input-field col s12">
        <label for="paymentDate">Payment date</label>
        <input id="paymentDate" type="text" class="datepicker today">
      </div>
      <div class="input-field col s12">
        <input id="receiptNo" type="text" value="32525" disabled>
        <label for="receiptNo">Receipt No</label>
      </div>
      <div class="input-field col s12">
        <input id="sum2" type="text" value="@@total" disabled>
        <label for="sum2">Total</label>
      </div>
    </div>
  </div>
</div>