<div class="card  wow bounceInDown">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4"> Case No 213/23/255</span>
    <div class="col s12 m3 check-inline">
      <input type="checkbox" id="grantJudicialAid" checked>
      <label for="grantJudicialAid">Grant judicial aid</label>
    </div>
    <div class="divider"></div>
    <div class="row no-marg-bot">
      <div class="col s12 m6">
        <div class="input-field">
          <i class="mdi-action-search prefix right"></i>
          <input id="caseNr" type="text">
          <label for="caseNr">Case Nr</label>
        </div>
        <br>
        <div class="input-field">
          <input id="courtName" type="text" disabled>
          <label for="courtName">Court Name</label>
        </div>
        <br>
        <div class="input-field">
          <input id="caseType" type="text" disabled>
          <label for="caseType">Case type</label>
        </div>
      </div>

      <div class="col s12 m6">
        <br>
        <h6>Participants</h6>
        <hr>
        <ul>
          <li>Forename Middlename Surname,</li>
          <li>Forename Middlename Surname,</li>
          <li>Forename Surname,</li>
          <li>Forename Fathers Name Surname</li>
        </ul>
      </div>



      
    </div>
  </div>
</div>