<div id="placeholder-audit-form-add-fee  wow bounceInDown" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="audit-form-add-fee-template" class="template" data-lang="fee/audit_form_add_fees">
  <div class="card brown lighten-5  wow bounceInDown cont-padding">
    <div class="card-content">
      <div class="row">
        <!--       <div class="col s12">
              <span class="card-title grey-text text-darken-4">Fee</span>

              <div class="divider"></div>
            </div> -->
        <div class="input-field col s4">
          <input id="sum" type="text">
          <label for="sum">{{Texts.Sum}}</label>
        </div>
        <div class="col s8">
          <select>
            <option value="" disabled selected>{{Texts.FeeType.Label}}</option>
            {{#each Texts.FeeType.Values}}
            <option value="{@index}">{{this}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
  </div>
</script>
