<div class="card  wow bounceInDown">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4"> Case No 213/23/255</span>
    <div class="col s12 m3 check-inline">
      <input type="checkbox" id="grantJudicialAid" />
      <label for="grantJudicialAid">Grant judicial aid</label>
    </div>
    <div class="divider"></div>
    <div class="row no-marg-bot">
      <div class="col s12 m6">
        <select required>
          <option value="" disabled selected>Court</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <div class="input-field col s12 m6">
        <input id="payer" type="text" value="This Man Named Somebody, This Man Else"> 
        <label for="payer">Payer</label>
      </div>
      <div class="col s12 m6">
        <select required>
          <option value="" disabled selected>Case type </option>
          <option value="1">استملاك</option>
          <option value="2">property aquizition </option>
          <option value="3">Option 3</option>
        </select>
      </div>
      <div class="input-field col s12 m6">
        <label for="paymentDate">Payment date</label>
        <input id="paymentDate" type="text" class="datepicker today">
      </div>
    </div>
  </div>
</div>