.modal-wrapper {
  position: fixed;
  top: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;

  .preloader {
    margin: 50px 100px;
  }

  .modal {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #fff;
    max-height: none;
    overflow: initial;

    @media (max-width: $large-screen) {
      width: 70%;
    }
    @media #{$medium-and-down} {
      width: 80%;
    }
    .modal-header {
      display: table;
      width: 100%;
      border-bottom: 1px solid #E0E0E0;
      padding-bottom: 20px;
      height: 75px;

      h4 {
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        padding-left: 0;
        font-size: 1.8rem;
      }

      .modal-actions {
        display: table-cell;
      }
    }

    .modal-content {
      padding: 30px;
    }

    .modal-actions {
      .btn {
        margin-bottom: 0;
      }

      .js-btn-container {
	    display: inline-block;
	   }
    }

    .modal-body {
      padding: 25px 0;

      .row {
	    margin-left: -0.75em;
	    margin-right: -0.75em;
      }
    }

    .modal-footer {
      padding: 0;
      height: auto;
      background: none;
      border-top: 1px solid #E0E0E0;
      padding-top: 20px;

      .btn, .btn-large, .btn-flat {
        margin: 0;
        float: none;
      }
    }
  }
}