<div class="row">
  <!-- DataCol trigger -->
  <a class="dropdown-button btn-floating btn-large waves-effect waves-light cyan base trigger trigger-add" href="#!" data-activates="add" data-datacol-trigger>
    <i class="mdi-content-add animated rotateIn"></i>
  </a>
  
  <div class="col s12">
    @@include('./fee-audit-cards/fee-audit-form-general.html')
  </div>

  <div class="col s12 m6">
    @@include('./fee-audit-cards/audit-card-payment.html')
  </div>

  <div class="col s12 m6">
    @@include('./fee-audit-cards/fee-audit-card-claim-pdf.html')
  </div>

  <div class="col s12 m6  trigger-wrapper">
    <!-- <a class="dropdown-button btn-floating waves-effect waves-light cyan lighten-2 trigger trigger-add" href="#!" data-activates='add'><i class="mdi-content-add animated rotateIn"></i></a> -->
    @@include('./fee-audit-cards/fee-form-add-fee.html')
  </div>

  <!-- DataCol form group -->
  <div class="panel-group" id="noteForm" data-datacol-models-show="1" data-datacol-models-count="1" data-datacol-group>

    <!-- Dropdown Structure -->
    <!-- DataCol clone triggers -->
    <ul id="add" class="dropdown-content">
      <li><a href="#!" data-datacol-clone="note">Add a note</a></li>
    </ul>
      <!-- DataCol models -->
      <div class="col s12 m6" data-datacol-model="note">
        @@include('../common/common-cards/case-form-note.html')
      </div>

</div>

</div>
<div id="placeholder-audit-new  wow bounceInDown" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="audit-new-template" class="template" data-lang="fee/audit_new">
  <button class="btn btn-large waves-effect waves-light submit right" onclick="window.location.href='@@backTo'">{{Texts.Confirm}}</button>
  <button class="btn btn-large waves-effect waves-light save right" onclick="window.location.href='@@backTo'">{{Texts.Reject}}</button>
  <button class="btn btn-flat btn-large lighten-4 waves-effect waves-light cancel right" onclick="window.location.href='@@backTo'"><i class="mdi-content-clear"></i></button>
</script>