<div class="row">
  <div class="col s12">
    @@include('./fee-audit-cards/fee-audit-form-general.html')
  </div>

  <div class="col s12 m6">
    @@include('./fee-audit-cards/audit-card-payment.html')
  </div>


  <div class="col s12 m6">
    @@include('./fee-audit-cards/fee-audit-card-claim-pdf.html')
  </div>

  <div class="col s12 m6  trigger-wrapper">
<!--     <a class="dropdown-button btn-floating waves-effect waves-light cyan lighten-2 trigger trigger-add" href="#!" data-activates='add'><i class="mdi-content-add animated rotateIn"></i></a> -->
    @@include('./fee-audit-cards/fee-form-add-fees.html')
  </div>
</div>

<button class="btn btn-large waves-effect waves-light submit right" onclick="window.location.href='@@backTo'">Accept payment</button>
<button class="btn btn-large waves-effect waves-light save right" onclick="window.location.href='@@backTo'"><i class="mdi-action-print right"></i>Print</button>
<button class="btn btn-flat btn-large lighten-4 waves-effect waves-light cancel right" onclick="window.location.href='@@backTo'" ><i class="mdi-content-clear"></i></button>