<div class="row">
  <div class="col s12">
    @@include('./case-cards/case-form-general.html')
  </div>
    <!-- Dropdown Trigger -->

  <div class="panel-group" id="caseCard">
    <div id="Claimants">
      <div>
        <div class="col s12 m6">
          @@include('./case-cards/case-form-claimant.html', {"person":"Claimant" })
        </div>
      </div>
    </div>
    <div id="Defendants">
      <div>
        <div class="col s12 m6 trigger-wrapper">
          <a class="dropdown-button btn-floating waves-effect waves-light cyan lighten-2 trigger trigger-add" href="#!" data-activates='add'><i class="mdi-content-add animated rotateIn"></i></a>
         @@include('./case-cards/case-form-defendant.html', {"person":"Defendant"})
        </div>
      </div>
    </div>
    <div id="Participants">
      <div>
        <div class="col s12 m6">
          @@include('./case-cards/case-form-participant.html', {"person":"Participant"})
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    @@include('../common/common-cards/case-card-documents.html')
  </div>
  <div class="col s12 m6 trigger-wrapper">
    <a class="dropdown-button btn-floating waves-effect waves-light cyan lighten-2 trigger trigger-add-note" href="#!" data-activates='addNote'><i class="mdi-content-add animated rotateIn"></i></a>
      @@include('../common/common-cards/case-card-note.html')
  </div>
</div>

<div class="row">
  <div class="col s12">
    <button class="btn btn-large waves-effect waves-light submit right" onclick="window.location.href='@@backTo'">Send to judge</button>
    <button class="btn btn-large waves-effect waves-light save right" onclick="window.location.href='@@backTo'">Register</button>
    <button class="btn btn-large waves-effect waves-light save-light right" onclick="window.location.href='@@backTo'">Save</button>
    <button class="btn btn-flat btn-large lighten-4 waves-effect waves-light cancel right" onclick="window.location.href='@@backTo'" ><i class="mdi-content-clear"></i></button>
  </div>
</div>


<!-- Dropdown Structure -->
<ul id='add' class='dropdown-content'>
  <li><a href="#!" data-datacontainer="#Claimants" class="js-addDataRow">Add a claimant</a></li>
  <li><a href="#!" data-datacontainer="#Defendants" class="js-addDataRow">Add a defendant</a></li>
  <li><a href="#!" data-datacontainer="#Participants" class="js-addDataRow">Add a participant</a></li>
</ul>

<!-- Alert modal Structure -->
<div id="modal1" class="modal">
  <h4>Hei!</h4>
  <p>You are about to delete the claimant. Are you sure? </p>
  <hr>
  <div class="right">
    <a href="#" class="waves-effect btn-flat modal-close">No</a>
    <a href="#" class="waves-effect btn teal modal-close">Yes</a>
  </div>
</div>

