<div class="row">
  <div class="input-field select-label col s12 m2 right">
  <label class="active">{{Filter.Status.Label}}</label>
    <select class="status-select">
      <option value="" disabled selected>{{Filter.SelectStatus}}</option>
      <option class="status draft">Drafts</p></option>
      <option class="status pending">Pending</option>
      <option class="status registered">Registered</option>
      <option class="status closed">Closed</option>
      <option class="status in-proceedings">In proceedings</option>
      <option class="status in-next">In next what</option>
      <option class="status rejected">Rejected</option>
    </select>
  </div>
  <div class="input-field typeahead-container col s12 m2 right">
    <input id="caseNumber" class="typeahead-input casenrs" type="text">
    <label for="caseNumber">{{Filter.CaseNumber}}</label>
  </div>
  <div class="input-field select-label col s12 m2 right">
    <label class="active">{{Filter.CaseType.Label}}</label> 
    <select>
      <option value="" selected>{{Filter.SelectCasetype}}</option>   
      {{#each Filter.CaseType.Values}}
        <option value="{{@index}}">{{this}}</option>
      {{/each}}
    </select>
  </div>
  <div class="input-field col s12 m2 right">
    <input id="claimant" type="text" >
    <label for="claimant">{{Filter.Judge}}</label>
  </div>
  <div class="input-field col s12 m2 right">
    <i class="mdi-notification-event-note prefix"></i>
    <input id="startDate" type="date" class="datepicker">
    <label for="startDate">{{Filter.From}}</label>
  </div>
  <div class="input-field col s12 m2 right">
    <i class="mdi-notification-event-note prefix"></i>
    <label for="endDate">{{Filter.To}}</label>
    <input id="endDate" type="text" class="datepicker">

  </div>
</div>

<!-- hidden by toggle -->
<div class="row collapse" id="moreFields">
  <div class="col s12 m2 right">
  <div class="check-inline">
    <input type="checkbox" id="urgent" /><label for="urgent">{{Filter.Urgent}}</label>
  </div>
  <br>
  <div class="check-inline">
    <input type="checkbox" id="aid" /><label for="aid">{{Filter.JudicialAid}}</label>
  </div>
  </div>

  <div class="col s12 m3 right">
    <div class="row">
      <div class="input-field col s12 m6">
        <input id="fromSum" type="text">
        <label for="fromSum">{{Filter.CaseValue.From}}</label>
      </div>
      <div class="input-field col s12 m6">
        <input id="toSum" type="text" >
        <label for="toSum">{{Filter.CaseValue.To}}</label>
      </div>
    </div>
  </div>
  <div class="input-field typeahead-container col s12 m3 right">
    <input id="claimant" class="typeahead-input persons" type="text">
    <label for="claimant">{{Filter.Claimant}}</label>
  </div>
  <div class="input-field typeahead-container col s12 m2 right">
    <input id="defendant" class="typeahead-input persons" type="text">
    <label for="defendant">{{Filter.Defendant}}</label>
  </div>
  <div class="input-field typeahead-container col s12 m2 right">
    <input id="participant" class="typeahead-input persons" type="text">
    <label for="participant">{{Filter.Participant}}</label>
  </div>
</div>