<form action="">
  <div id="placeholder-registry-table" class="template-placeholder"></div>

  <script type="text/x-handlebars-template" id="registry-table-template" class="template" data-lang="data/registry/table">

    <table class="hoverable bordered data">
        <thead>
          <th data-field="status" class="sorting">{{Texts.Status}}</th>
          <th data-field="date" class="sorting">{{Texts.Date}}</th>
          <th data-field="casenumber" class="sorting">{{Texts.CaseNumber}}</th>
          <th data-field="casetype" class="sorting">{{Texts.CaseType}}</th>
          <th data-field="claimants">{{Texts.Claimant}}</th>
          <th data-field="defendants">{{Texts.Defendant}}</th>
          <th data-field="paticipants">{{Texts.Participants}}</th>
          <th data-field="judge">{{Texts.Judge}}</th>
        </thead>
        <tbody>
        {{#each Cases}}
          <tr onClick="parent.location='registry-view-case.html'">
            <td class="center"><i class="status {{Status}}"></i></td>
            <td>{{Date}}</td>
            <td>{{CaseNumber}}</td>
            <td>{{CaseType}}</td>
            <td>{{Claimant}}</td>
            <td>{{Defendant}} </td>
            <td>{{Participants}}</td>
            <td>{{Judge}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>

  </script>
</form>
