<div class="row">
  <div class="col s12">
  @@include('./case-cards/case-form-general.html')
  </div>

  <!-- DataCol form group -->
  <div class="panel-group" id="caseForm" data-datacol-models-show="3" data-datacol-models-count="4" data-datacol-group>

    <!-- DataCol trigger -->
    <a class="dropdown-button btn-floating waves-effect waves-light cyan lighten-2 trigger trigger-add" href="#!" data-activates="add" data-datacol-trigger>
      <i class="mdi-content-add animated rotateIn"></i>
    </a>

    <!-- Dropdown Structure -->
    <!-- DataCol clone triggers -->
    <ul id="add" class="dropdown-content">
      <li><a href="#!" data-datacol-clone="claimant">Add a claimant</a></li>
      <li><a href="#!" data-datacol-clone="defendant">Add a defendant</a></li>
      <li><a href="#!" data-datacol-clone="participant">Add a participant</a></li>
      <li><a href="#!" data-datacol-clone="note">Add a note</a></li>
    </ul>

    <!-- DataCol models -->
    <div class="col s12 m6" data-datacol-model="claimant">
      @@include('./case-cards/case-form-claimant.html', {"person":"Claimant" })
    </div>
    <div class="col s12 m6" data-datacol-model="defendant">
      @@include('./case-cards/case-form-defendant.html', {"person":"Defendant"})
    </div>
    <div class="col s12 m6" data-datacol-model="note">
      @@include('../common/common-cards/case-form-note.html')
    </div>
    <div class="col s12 m6" data-datacol-model="participant">
      @@include('./case-cards/case-form-participant.html', {"person":"Participant"})
    </div>

  </div>
  
  <div class="col s12 m6">
    @@include(''../common/common-cards/case-form-documents-upload.html')
  </div>

<div id="placeholder-case-new" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="case-new-template" class="template" data-lang="registry/case_new">

<div class="row">
  <div class="col s12">
    <button class="btn btn-large waves-effect waves-light submit right" onclick="window.location.href='@@backTo'">{{Texts.ButtonSendToJudge}}</button>
    <button class="btn btn-large waves-effect waves-light save right" onclick="window.location.href='@@backTo'">{{Texts.ButtonRegister}}</button>
    <button class="btn btn-large waves-effect waves-light save-light right" onclick="window.location.href='@@backTo'">{{Texts.ButtonSave}}</button>
    <button class="btn btn-flat btn-large lighten-4 waves-effect waves-light cancel right" onclick="window.location.href='@@backTo'" ><i class="mdi-content-clear"></i></button>
  </div>
</div>

</script>

<!-- Alert modal Structure -->
<div id="modal1" class="modal">
  <h4>Hei!</h4>
  <p>You are about to delete the claimant. Are you sure? </p>
  <hr>
  <div class="right">
    <a href="#" class="waves-effect btn-flat modal-close">No</a>
    <a href="#" class="waves-effect btn teal modal-close">Yes</a>
  </div>
</div>

