<div class="row">
  <div class="col s12 m1 right">
    <label for="">Represented by parent</label>
  </div>
  <div class="input-field col s12 m6 right">
    <input id="parent" type="text" class="validate" value="ڕۆژه‌ كمال احمد حسن">
    <label for="parent">Parents full name</label>
  </div>
  <div class="input-field col s12 m2 right">
    <input id="parentId" type="text">
    <label for="parentId">Parents ID</label>
  </div>
  <div class="input-field col s12 m2 right">
    <input id="parentPhone" type="text">
    <label for="parentPhone">Parents Phone</label>
  </div>
  <div class="input-field col s12 m6 offset-m1 right">
    <input id="parentAddress" type="text" value="سلێمانى /  تووى مه‌ليك/  نزيك مزگه‌وتى حمه‌ صالح بۆسكانى">
    <label for="parentAddress">Parents address</label>
  </div>

</div>

<!-- <div class="row">
  <div class="input-field col s12 m7">
    <input id="parent" type="text" class="validate" value="ڕۆژه‌ كمال احمد حسن">
    <label for="parent">Parents full name</label>
  </div>
  <div class="input-field col s12 m2">
    <input id="parentId" type="text">
    <label for="parentId">Parents ID</label>
  </div>
  <div class="input-field col s12 m3">
    <input id="parentPhone" type="text">
    <label for="parentPhone">Parents Phone</label>
  </div>
  <div class="input-field col s12">
    <input id="parentAddress" type="text" value="سلێمانى /  تووى مه‌ليك/  نزيك مزگه‌وتى حمه‌ صالح بۆسكانى">
    <label for="parentAddress">Parents address</label>
  </div>
</div> -->