<a class="btn-floating btn-large waves-effect waves-light cyan darken-3 adds-form" href="registry-new-case.html"><i class="mdi-content-add"></i></a>
<h4 class="header white-text text-darken-2">Prime registry</h4>

<div id="placeholder-registry-filter" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="registry-filter-template" class="template" data-lang="registry/filter">
  <div class="filter-body card large lighten-2">
    <div class="card-content" >
      @@include('./registry-filter.html')
    </div>
  </div>
  <div class="filter-action left">
    <button class="btn bg-orange waves-effect waves-light" type="submit" name="action">
      {{Filter.ButtonSearch}}
      <i class="mdi-action-search right"></i>
    </button>
    <button class="btn bg-mauve waves-effect waves-light" data-toggle="collapse" data-target="#moreFields">
      {{Filter.ButtonMoreFields}}
      <i class="mdi-navigation-expand-more right"></i>
    </button>
    <button class="btn bg-mauve waves-effect waves-light">
      {{Filter.ButtonClearAll}}
      <i class="mdi-navigation-close right"></i>
    </button>
  </div>
</script>