<div id="@@persons">
  <div>
    <div class="col s12 m6">





      <div class="card">
        <div class="card-content" id="heading@@person">
         <a class="card-title grey-text text-darken-4" data-toggle="collapse" data-parent="#initiate-form" href="collapse@@person"><i class="mdi-navigation-more-vert"></i>@@person <i class="mdi-navigation-close left"></i></a>
         <div class="divider"></div>
        </div>
        <div class="card-content collapse" id="collapse@@person">
          <div class="row">
            <div class="input-field col s12 right"  id="the-basics">
              <input id="@@person" type="text" class="validate"  value="">
              <label for="@@person">@@persons full name</label>
            </div>
          
              <div class="switch col s12 right">
                <br>
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
                <span>&nbsp;Legal entity</span>
              </div>
              <div class="input-field col s12 right">
                <input id="@@personAddress" type="text" class="validate" value="">
                <label for="@@personAddress">@@persons address</label>
              </div>
              <div class="input-field col s12 right">
                <input id="@@personId" type="text">
                <label for="@@personId">Document number</label>
              </div>
              <div class="input-field col s12 right">
                <input id="@@personPhone" type="text">
                <label for="@@personPhone">@@persons phone</label>
              </div>
            </div>
          
          
            <div class="row collapse" id="toggleRepresentative">
            <span class="card-title grey-text text-darken-4">Representative</span>
              <div class="divider"></div>
                      
              <div class="col s12 right">
                <select>
                  <option value="" selected>Select type <i class="mdi-content-add"></i> </option>
                  <option value="1">Lawyer</option>
                  <option value="2">Parent</option>
                  <option value="3">Legal guardian</option>
                  <option value="4">Other</option>
                </select>
              </div>
              
                      
              <div class="input-field col s12 right">
                <input id="parent" type="text" class="validate" value="">
                <label for="parent">Representatives full name</label>
              </div>
              <div class="input-field col s12 right">
                <input id="parentId" type="text">
                <label for="parentId">Representatives ID</label>
              </div>
              <div class="input-field col s12 right">
                <input id="parentPhone" type="text">
                <label for="parentPhone">Representatives Phone</label>
              </div>
              <div class="input-field col s12 right">
                <input id="parentAddress" type="text" value="">
                <label for="parentAddress">Representatives address</label>
              </div>
            </div>
        </div>
        <div class="card-action">
          <a href='#!' class="btn blue-light white-text" data-toggle="collapse" data-target="#toggleRepresentative">Add representative</a>
        </div>
      </div>
    </div>
  </div>
</div>

