<!-- content dropdown -->
<ul id="contentDropdown" class="navbar dropdown-content">
  <li><a href="registry.html">Prime registry</a></li>
  <li><a href="registry-new-case.html">Add case</a></li>
  <li><a href="registry-view-case.html">View case</a></li>
  <li class="divider"></li>
  <li><a href="fee.html">Fee</a></li>
  <li><a href="fee-add-new.html">Add fee</a></li>
  <li><a href="fee-edit.html">View fee</a></li>
  <li class="divider"></li>
  <li><a href="index.html"><i class="mdi-action-exit-to-app right"></i>Log out</a></li>
</ul>