<!-- content dropdown -->
<ul id="contentDropdown" class="navbar dropdown-content">
  <li><a href="case-list.html">Case list</a></li>
  <li><a href="case-new.html">Add case</a></li>
  <li><a href="case-edit.html">View case</a></li>
  <li class="divider"></li>
  <li><a href="fee-list.html">Fee list</a></li>
  <li><a href="fee-new.html">Add fee</a></li>
  <li><a href="fee-edit.html">View fee</a></li>
  <li class="divider"></li>
  <li><a href="audit-list.html">Audit list</a></li>
  <li><a href="audit-new.html">Add audit</a></li>
  <li><a href="audit-edit.html">View audit</a></li>
  <li class="divider"></li>
  <li><a href="daily-register-list.html">Daily register list</a></li>
  <li class="divider"></li>
  <li><a href="index.html"><i class="mdi-action-exit-to-app right"></i>Log out</a></li>
</ul>