<!-- content dropdown -->
<ul id="contentDropdown" class="navbar dropdown-content">
  <li><a href="case-list.html">Case list</a></li>
  <li><a href="case-list-wo-walktrough.html">Case list without walktrough</a></li>
  <li><a href="case-new.html">New case</a></li>
  <li><a href="case-edit.html">Edit case</a></li>
  <li class="divider"></li>
  <li><a href="fee-list.html">Fee list</a></li>
  <li><a href="fee-new.html">New fee</a></li>
  <li><a href="fee-edit.html">Edit fee</a></li>
  <li class="divider"></li>
  <li><a href="audit-list.html">Audit list</a></li>
  <li><a href="audit-new.html">New audit</a></li>
  <li><a href="audit-edit.html">Edit audit</a></li>
  <li class="divider"></li>
  <li><a href="daily-list.html">Daily list</a></li>
  <li><a href="daily-new.html">New daily</a></li>
  <li class="divider"></li>
  <li><a href="summons-list.html">Summons list</a></li>
  <li class="divider"></li>
  <li><a href="index.html"><i class="mdi-action-exit-to-app right"></i>Log out</a></li>
</ul>