<ul id="slide-out" class="side-nav full">

  <div id="placeholder-content-dropdown" class="filtering template-placeholder"></div>
  <script type="text/x-handlebars-template" id="content-dropdown-template" class="template" data-lang="general/content_dropdown">
  <li><a href="case-list.html">{{List.CaseList}}</a></li>
  <li><a href="case-list-with-walktrough.html">{{List.CaseListWith}}</a></li>
  <li><a href="case-new.html">{{List.NewCase}}</a></li>
  <li><a href="case-edit.html">{{List.EditCase}}</a></li>
  <li><a href="case-assesment.html">{{List.CaseAssesment}}</a></li>
  <li class="divider"></li>
  <li><a href="fee-list.html">{{List.FeeList}}</a></li>
  <li><a href="fee-new.html">{{List.NewFee}}</a></li>
  <li><a href="fee-edit.html">{{List.EditFee}}</a></li>
  <li class="divider"></li>
  <li><a href="audit-list.html">{{List.AuditList}}</a></li>
  <li><a href="audit-new.html">{{List.NewAudit}}</a></li>
  <li class="divider"></li>
  <li><a href="daily-list.html">{{List.DailyList}}</a></li>
  <li><a href="daily-new.html">{{List.NewDaily}}</a></li>
  <li class="divider"></li>
  <li><a href="summons-list.html">{{List.SummonsList}}</a></li>
  <li class="divider"></li>
  <li><a href="index.html"><i class="mdi-action-exit-to-app right"></i>{{List.LogOut}}</a></li>
  </script>
  <li class="divider"></li>
  <li>
    <a class="dropdown-button" href="#!" data-activates="languageDropdown">
      <i class="mdi-action-language"></i>
      زمان
    </a>
  </li>
</ul>

<!-- language dropdown -->
<ul id="languageDropdown" class="navbar dropdown-content">
  <li class="active">
    <a href="#!" id="Kurdish" data-value="ku" class="btn-medium waves-effect language">sorani</a>
  </li>
  <li>
    <a href="#!" id="English" data-value="en" class="btn-medium waves-effect language">english</a>
  </li>
</ul>