<div id="placeholder-page-footer" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="page-footer-template" class="template" data-lang="page_footer">
<footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{Footer.About}}</h5>
        <p class="grey-text lighten-4">{{Footer.Description}}</p>
      </div>
      <!-- <div class="col l3 s12">
        <h5 class="white-text">Help center</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Other important numbers</h5>
      </div> -->
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      {{Footer.MadeBy}}<a class="grey-text text-lighten-4 right" href="http://netgroup.ee">{{Footer.Author}}</a>
    </div>
  </div>
</footer>
</script>