<footer class="page-footer blue-grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text lighten-4">This is a prototype for the Court Info System project. In case you find something to improve, push the blue Feedback-button here and write your improvements. In this way you will help us to build better tool for you.</p>
      </div>
      <!-- <div class="col l3 s12">
        <h5 class="white-text">Help center</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Other important numbers</h5>
      </div> -->
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="grey-text text-lighten-4 right" href="http://netgroup.ee"> Netgroup</a>
    </div>
  </div>
</footer>