<div class="col s12 card cyan lighten-5 wrapping-notes wow bounceInDown">
  <div id="placeholder-case-card-note" class="template-placeholder">
    </div>
</div>
<script type="text/x-handlebars-template" id="case-card-note-template" class="template" data-lang="common/common-cards/case_card_note">

  <div class="valign-wrapper">
    <div class="col s2 valign">
      <img src="http://lorempixel.com/200/200/abstract/" alt="" class="circle responsive-img identicon"> 
    </div>
    <div class="col s10">
      <p>{{Texts.Note}}</p>
      <div class="divider"></div>
      <small>
        <ul class="list-inline grey-text text-darken-2 left">
          <li class="">This Man That</li>
          <li class="">04.12.2015 </li>
          <li class="">at 14:50</li>
        </ul>
      </small> 
      <a href="#!" class="card-title grey-text text-darken-2 right">
        <i class="mdi-navigation-close left" data-datacol-delete="Item deleted"></i>
      </a>
    </div>
  </div>
  <div class="divider"></div>
    <div class="valign-wrapper">
    <div class="col s2 valign">
      <img src="http://lorempixel.com/200/200/abstract/" alt="" class="circle responsive-img identicon"> 
    </div>
    <div class="col s10">
      <p>{{Texts.Note}}</p>
      <div class="divider"></div>
      <small>
        <ul class="list-inline grey-text text-darken-2 left">
          <li class="">This Man That</li>
          <li class="">04.12.2015 </li>
          <li class="">at 14:50</li>
        </ul>
      </small> 
      <a href="#!" class="card-title grey-text text-darken-2 right">
        <i class="mdi-navigation-close left" data-datacol-delete="Item deleted"></i>
      </a>
    </div>
  </div>
  <div class="divider"></div>

  <div class="valign-wrapper ">
    <div class="col s2 valign">
      <img src="http://lorempixel.com/200/200/abstract/" alt="" class="circle responsive-img identicon"> 
    </div>
    <div class="col s10">
      <p>{{Texts.Note}}</p>
      <div class="divider"></div>
      <small>
        <ul class="list-inline grey-text text-darken-2 left">
          <li class="">This Man That</li>
          <li class="">04.12.2015 </li>
          <li class="">at 14:50</li>
        </ul>
      </small> 
      <a href="#!" class="card-title grey-text text-darken-2 right">
        <i class="mdi-navigation-close left" data-datacol-delete="Item deleted"></i>
      </a>
    </div>
  </div>
  <div class="divider"></div>
  <div class="valign-wrapper ">
    <div class="col s2 valign">
      <img src="http://lorempixel.com/200/200/abstract/" alt="" class="circle responsive-img identicon"> 
    </div>
    <div class="col s10">
      <p>{{Texts.Note}}</p>
      <div class="divider"></div>
      <small>
        <ul class="list-inline grey-text text-darken-2 left">
          <li class="">This Man That</li>
          <li class="">04.12.2015 </li>
          <li class="">at 14:50</li>
        </ul>
      </small> 
      <a href="#!" class="card-title grey-text text-darken-2 right">
        <i class="mdi-navigation-close left" data-datacol-delete="Item deleted"></i>
      </a>
    </div>
  </div>

</script>


