<div id="placeholder-case-form-documents-upload  wow bounceInDown" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="case-form-documents-upload-template-1" class="template" data-lang="registry/case-cards/case_form_documents_upload">
<h5 class="grey-text text-darken-4">{{Texts.Documents}}</h5>
<div class="divider"></div>
<div class="row no-marg-bot">

  <div class="col s12">
    <div class="row">
    <div class="js-fileupload-plugin col s12 center">
      <div class="js-fileupload-previews file-previews">
        <div class="js-fileupload-preview-item row" style="display: block;">
          <div class="js-fileupload-preview-thumbnail col s5">
            <img src="http://placehold.it/125x125">
          </div>
          <div class="col s7">
            <span class="js-fileupload-preview-filename">{{Texts.FileName1}}</span>
            <span class="js-fileupload-preview-filesize">(311.36 KB)</span>
            <br>
            <a class="js-fileupload-remove-click waves-effect waves-teal btn-flat"><span><i class="mdi-content-clear"></i></span></a>
          </div>
        </div>

        <div class="js-fileupload-preview-item row" style="display: block;">
          <div class="js-fileupload-preview-thumbnail col s5">
            <img class="js-fileupload-preview-thumbnail-image" data-src="/CIS/assets/images/thumbnails/" src="http://placehold.it/125x125">
          </div>
          <div class="col s7">
            <span class="js-fileupload-preview-filename">{{Texts.FileName2}}</span>
            <span class="js-fileupload-preview-filesize">(37.04 KB)</span>
            <br>
            <a class="js-fileupload-remove-click waves-effect waves-teal btn-flat"><span><i class="mdi-content-clear"></i></span></a>
          </div>
        </div>
      </div>
      <div class="js-fileupload-descriptionarea card-panel bg-light">
        <h5><i class="@*Some nice upload icon*@"></i>{{Texts.DropFilesHere}}</h5> {{Texts.ClickHere}}
      </div>
    </div>
    </div>
  </div>

</div>
</script>