<div id="placeholder-case-form-documents-upload  wow bounceInDown" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="case-form-documents-upload-template" class="template" data-lang="registry/case-cards/case_form_documents_upload">
<h5 class="grey-text text-darken-4">{{Texts.Documents}}</h5>
<div class="divider"></div>
<div class="row no-marg-bot">

  <div class="col s12 m6">
    <div class="row">
    <div class="js-fileupload-plugin col s12 center">
      <div class="js-fileupload-previews file-previews">
        <div class="js-fileupload-preview-item row" style="display: block;">
          <div class="js-fileupload-preview-thumbnail col s5">
            <img src="http://placehold.it/125x125">
          </div>
          <div class="col s7">
            <span class="js-fileupload-preview-filename">{{Texts.FileName1}}</span>
            <span class="js-fileupload-preview-filesize">(311.36 KB)</span>
            <br>
            <a class="js-fileupload-remove-click waves-effect waves-teal btn-flat"><span><i class="mdi-content-clear"></i></span></a>
          </div>
        </div>

        <div class="js-fileupload-preview-item row" style="display: block;">
          <div class="js-fileupload-preview-thumbnail col s5">
            <img class="js-fileupload-preview-thumbnail-image" data-src="/CIS/assets/images/thumbnails/" src="http://placehold.it/125x125">
          </div>
          <div class="col s7">
            <span class="js-fileupload-preview-filename">{{Texts.FileName2}}</span>
            <span class="js-fileupload-preview-filesize">(37.04 KB)</span>
            <br>
            <a class="js-fileupload-remove-click waves-effect waves-teal btn-flat"><span><i class="mdi-content-clear"></i></span></a>
          </div>
        </div>
      </div>
      <div class="js-fileupload-descriptionarea card-panel bg-light">
	  	<h5><i class="@*Some nice upload icon*@"></i>{{Texts.DropFilesHere}}</h5> {{Texts.ClickHere}}
      </div>
    </div>
    </div>
  </div>

  <div class="col s12 m6">
    <form>
      <div class="row">
        <div class="col s12">
          <select>
            <option value="" disabled selected>{{Texts.Type.FirstValue}}</option>
		  	{{#each Texts.Type.Values}}
		  	<option value="{{@index}}">{{this}}</option>
		  	{{/each}}
          </select>
        </div>
        <div class="col s12">
          <select id="category">
           <option value="" disabled selected>{{Texts.Category.FirstValue}}</option>
		  	{{#each Texts.Category.Values}}
		  	<option value="{{@index}}">{{this}}</option>
		  	{{/each}}
          </select>
        </div>
        <div class="input-field col s12">
          <input id="author" type="text" class="validate">
          <label for="author">{{Texts.Author}}</label>
        </div>
        <div class="input-field col s12">
          <label for="registrationDate">{{Texts.Author}}</label>
          <input id="registrationDate" type="text" class="datepicker today">
        </div>
        <div class="input-field col s12">
          <label for="arrivalDate">{{Texts.DateOfRegister}}</label>
          <input id="arrivalDate" type="text" class="datepicker today">
        </div>
        <div class="input-field col s12">
          <textarea class="materialize-textarea"></textarea>
          <label>{{Texts.Description}}</label>
        </div>
        <div class="input-field col s12">
          <div class="col s12 m4 right">
            <input type="checkbox" id="Personal" class="right" />
            <label for="Personal">{{Texts.Personal}}</label>
          </div>
          <textarea class="materialize-textarea"></textarea>
          <label>{{Texts.Notes}}</label>
        </div>
      </div>
    </form>
  </div>

</div>
<div class="action-bar">
  <button class="btn waves-effect waves-light save-light right modal-action modal-close">{{Texts.ButtonSave}}</button>
  <button class="btn btn-flat lighten-4 waves-effect waves-light cancel right modal-action modal-close"><i class="mdi-content-clear"></i></button>
</div>
</script>