<div id="placeholder-case-card-documents  wow bounceInDown" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="case-card-documents-template" class="template" data-lang="common/common-cards/case_card_documents">
<div class="card  wow bounceInDown">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4">{{Texts.Title}}</span>
    <div class="divider"></div>
    <br>
    <div class="col s12 m10 offset-m2">
       <div class="row valign-wrapper">
         <div class="col s2">
           <img src="http://lorempixel.com/200/200/abstract/" alt="" class="circle responsive-img"> 
         </div>
         <div class="col s8">
           <span class="black-text">
             {{Texts.Preview}}
           </span>
         </div>
       </div>
      </div>
  </div>
</div>
</script>