<div id="placeholder-case-form-note " class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="case-form-note-template" class="template" data-lang="common/common-cards/case_form_note">

  <div class="card cyan lighten-5 wow bounceInDown">
    <div class="card-content">
      <span class="card-title grey-text text-darken-4">{{Texts.NewNote}}</span>
      <div class="col s12 m3 check-inline right">
        <input type="checkbox" id="Personal" class="right" />
        <label for="Personal">{{Texts.Personal}}</label>
      </div>
      <a href="#!" class="card-title grey-text text-darken-4">
        <i class="mdi-navigation-close left" data-datacol-delete="Item deleted"></i>
      </a>

      <div class="divider"></div>
      <div class="row no-marg-bot">
        <div class="input-field col s12">
          <textarea class="materialize-textarea"></textarea>
          <label><i class="mdi-content-create tiny"></i></label>
        </div>
      </div>
    </div>
  </div>
</script>
