<div class="card cyan lighten-5  wow bounceInDown">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4">Note</span>
    <a href="#!" class="card-title grey-text text-darken-4">
      <i class="mdi-navigation-close left" data-datacol-delete="Item deleted"></i>
    </a>
    <div class="divider"></div>
    <div class="col s12 m10 offset-m2">
      <div class="row valign-wrapper">
       <div class="col s2">
         <img src="http://lorempixel.com/200/200/people/" alt="" class="circle responsive-img"> 
       </div>
       <div class="col s10">
         <span class="black-text">
           This is note by a specific person. Can we use identicons? Visual helpers are always good ana it should be easy to implement.
         </span>
       </div>
     </div>
   </div>
 </div>
</div>




