<div id="placeholder-case-card-documents  wow bounceInDown" class="template-placeholder"></div>
<script type="text/x-handlebars-template" id="case-card-documents-template" class="template" data-lang="common/common-cards/case_card_documents">
</script>
<div class="card  wow bounceInDown">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4">Upload documents</span>
    <div class="divider"></div>
    <br>
    <div class="col s12 ">
        <form action="#">
    <div class="file-field input-field">
      <input class="file-path validate" type="text"/>
      <div class="btn">
        <span>File upload</span>
        <input type="file" />
      </div>
    </div>
  </form>
       <!-- <div class="row valign-wrapper">
         <div class="col s2 valign">
           <img src="http://lorempixel.com/200/200/abstract/" alt="" class="circle responsive-img"> 
         </div>
         <div class="col s8">
           <span class="black-text">
             Document this and that
           </span>
         </div>
       </div> -->
      </div>
  </div>
</div>

