<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4">Claim document</span>
    <div class="divider"></div>
    <br>
    <div class="col s12 m10 offset-m2">
       <div class="row valign-wrapper">
         <div class="col s2">
           <img src="http://lorempixel.com/200/200/people/" alt="" class="circle responsive-img"> 
         </div>
         <div class="col s10">
           <span class="black-text">
             This is a pdf preview of the claim. Add more information if relevant.
           </span>
         </div>
       </div>
      </div>
  </div>
</div>