@@include('./base/header.tpl.html',
{
  "bodyClass": "audit-list",
  "htmlClass": "audit-list",
  "title": "Audit list"
})

@@include('./layout/header.html', {
  "courtName": "Audit"
})

<main>

  <div class="main-banner"></div>

  <div class="card-onbanner">
    <div class="container">
      <div class="row no-marg-bot">
        <div class="col s12">

          @@include('./layout/common/round-top-fw.html',
          {
            "formName": "Audit",
            "fwTo": "audit-new.html"
          })
          @@include('./layout/fee-audit/fee-filter.html')

        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content row with-table">
      @@include('./layout/fee-audit/fee-table.html',
      {
        "ffwTo": "audit-edit.html"
      })
    </div>
  </div>
</main>

@@include('./layout/footer.html')

@@include('./base/footer.tpl.html')