@@include('./base/header.tpl.html',
{
  "bodyClass": "case-edit",
  "htmlClass": "case-edit",
  "title": "Edit case"
})

@@include('./layout/header.html', {
  "courtName": "Civil Primary Court Nr 1"
})

<main>

  <div class="main-banner"></div>

  <div class="card-onbanner">
    <div class="container">
      @@include('./layout/common/round-top-back.html')
      @@include('./layout/case/case-edit.html',
      {
        "formName": "Edit case",
        "backTo": "case-list.html",
        "collapse": " ",
        "caseNo": "{{Texts.No}}",
        "hidden": ""
      })
    </div>
  </div>
</main>

@@include('./layout/footer.html')

@@include('./base/footer.tpl.html')