@@include('./base/header.tpl.html',
{
  "bodyClass": "case-list",
  "htmlClass": "case-list",
  "title": "Case list"
})

@@include('./layout/header.html', {
  "courtName": "Civil Primary Court Nr 1"
})


<main>

  <div class="main-banner"></div>

  <div class="card-onbanner">
    <div class="container">
      <div class="row no-marg-bot">
        <div class="col s12">

          @@include('./layout/common/round-top-fw.html',
          {
            "formName": "{{Texts.PrimeRegistry}}",
            "fwTo": "case-new.html"
          })
          @@include('./layout/case/case-filter.html')

        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content row with-table">
      @@include('./layout/case/case-table.html',
      {
        "ffwTo": "case-edit.html"
      })
    </div>
  </div>
</main>

@@include('./layout/footer.html')


<!-- Tip Content -->
    <ol id="joyRideTipContent">
      <li data-class="user-profile" data-button="Next" class="custom">
        <h2>Your profile</h2>
        <p>Here you can access your profile and settings. Aswell sign out</p>
      </li>
      <li data-class="page-content" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
        <h2>Menu</h2>
        <p>Here you can access to your webpage content. Like creating new cases or look for different fees.</p>
      </li>
      <li data-class="create-case" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
        <h2>Create new</h2>
        <p>Here you can start creating new court case.</p>
      </li>
      <li data-class="justbeinghere" data-button="Next" class="custom">
        <h2>Hint 4</h2>
        <p>Here you can access your profile and settings. Aswell sign out</p>
      </li>
      <li data-class="filtering" data-button="Next" class="custom">
        <h2>Hint 4</h2>
        <p>This is proceeding search table. Not all fields are manatory. Proceedings are shown below.</p>
      </li>
      <li data-class="filter-toggle" data-button="Next" class="custom">
        <h2>Hint 5</h2>
        <p>This button expands your filter for more parameters.</p>
      </li>
      <li data-class="proceeding-table" data-button="Exit" class="custom" >
        <h2>Hint 6</h2>
        <p>This is proceedings table. Here you can see filtered and non filtered proceedings also you can re-order entries.</p>
      </li>
    </ol>

@@include('./base/footer.tpl.html')