@@include('./base/header.tpl.html',
{
  "bodyClass": "daily",
  "htmlClass": "daily",
  "title": "Daily"
})

@@include('./layout/header.html', {
  "courtName": "{{Texts.DailyRegister}}"
})


<main>

  <div class="main-banner"></div>

  <div class="card-onbanner">
    <div class="container">
      <!-- @@include('./layout/common/round-top-fw.html', {
        "formName": "{{Texts.DailyRegister}}",
        "fwTo": "daily-new.html"
      }) -->
      <h4 class="header white-text text-darken-2">Daily register <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="Klick on the day in the calendar tab to add a hearing. Klick on the case in the list tab to assign a hearing to the case"><i class="mdi-action-info-outline"></i></a></h4>
      <div class="row no-marg-bot">
        @@include('./layout/daily/daily-filter.html')
      </div>
      <div >
        <ul class="tabs col s12">
          <li class="tab col s6">
            <a class="active" href="#calendar">Calendar</a>
          </li>
          <li class="tab col s6">
            <a href="#list">Unassigned cases list</a>
          </li>
        </ul>
      </div>
      <div class="card calendar-large" id="calendar">
        <div class="card-content col s12">
          @@include('./layout/daily/daily-calendar.html')
        </div>
      </div>
      <div class="card row calendar-large" id="list">
        <div class="card-content col s12 with-table">
          @@include('./layout/daily/daily-table.html', {
          "fwTo": "daily-new.html"
        })
          </div>
      </div>
    </div>
  </div>

</main>

@@include('./layout/footer.html')

@@include('./base/footer.tpl.html')

