@@include('./base/header.tpl.html',
{
  "bodyClass": "daily-register",
  "htmlClass": "daily-register",
  "title": "Daily register"
})

@@include('./layout/header.html')

<main>

  <div class="main-banner"></div>

  <div class="card-onbanner">
    <div class="container">
      @@include('./layout/common/round-top-fw.html', {
        "formName": "Add new hearing",
        "fwTo": "hearing-new.html"
      })
      @@include('./layout/daily-register/daily-register-filter.html')
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6">
          <a class="active" href="#calendar">Calendar</a>
        </li>
        <li class="tab col s6">
          <a href="#pending">Pending</a>
        </li>
      </ul>
    </div>
    <div class="card col s12" id="calendar">
      <div class="card-content row">
        @@include('./layout/daily-register/daily-register-calendar.html')
      </div>
    </div>
    <div class="card col s12" id="pending">
      <div class="card-content row with-table">
        @@include('./layout/daily-register/daily-register-table.html')
        </div>
    </div>
  </div>

</main>

@@include('./layout/footer.html')

@@include('./base/footer.tpl.html')

