@@include('./base/header.tpl.html',
{
  "bodyClass": "fee-edit",
  "htmlClass": "fee-edit",
  "title": "Edit fee"
})

@@include('./layout/header.html', {
  "courtName": "{{Texts.FeeDepartment}}"
})

<main>

  <div class="main-banner"></div>

  <div class="card-onbanner">
    <div class="container">
      <div class="row">
        <div class="col s12">
          @@include('./layout/common/round-top-back.html')
          
          @@include('./layout/fee-audit/fee-new.html',
          {
            "formName": "{{Texts.ViewFee}}",
            "backTo": "fee-list.html",
            "value1": "Courtname",
            "hidden": " ",
            "hiddenCaseNumber" : "hidden",
            "disabled": "disabled",
            "sum1": "10 000.00",
            "sum2": "20 000.00",
            "total": "30 000.00"
          })
        </div>
      </div>
    </div>
  </div>
</main>

@@include('./layout/footer.html')

@@include('./base/footer.tpl.html')