@@include('./base/header.tpl.html',
{
  "bodyClass": "fee-new",
  "htmlClass": "fee-new",
  "title": "New fee"
})

@@include('./layout/header.html', {
  "courtName": "Fee department"
})

<main>

  <div class="main-banner"></div>

  <div class="card-onbanner">
    <div class="container">
      <div class="row">
        <div class="col s12">
          @@include('./layout/common/round-top-back.html')

          @@include('./layout/fee-audit/fee-new.html',
          {
            "formName": "New fee",
            "backTo": "fee-list.html",
            "hidden": "hidden",
            "disabled": " ",
            "value1": "Courtname",
            "sum1": "",
            "sum2": "",
            "total": "0.00"
          })
        </div>
      </div>
    </div>
  </div>
</main>

@@include('./layout/footer.html')

@@include('./base/footer.tpl.html')