@@include('./base/header.tpl.html',
{
  "bodyClass": "login",
  "htmlClass": "login",
  "title": "Log in"
})


  <div class="section pagepiling full-bg" id="login">
<ul class="front-fullscreen">
  <li>
    <a href="#!" onclick="toggleFullScreen()">
      <i class="mdi-navigation-fullscreen"></i>
      
    </a>
  </li>
  <li>
    <a class="dropdown-button" href="#!" data-activates="languageDropdown">
      <i class="mdi-action-language"></i>
      
    </a>
  </li>
</ul>
    <div class="container">

      <div class="col s5 m5 center">
        <h3 class="white-text">
          <img src="images/cis-logo.svg" alt="" width="70" height="70">
          <br>
          <span style="font-size: 55%;">Welcome to Sulaymaniah</span>
          <br>
          Court Info System
        </h3>
        <div class="divider white"></div>
        <h6 class="white-text">Please login:</h6>
        <br>
        <input type="text" value="" placeholder="Name">
        <br>
        <input type="password" value="" placeholder="Password">
        <br>
        <button onclick="location.href='case-list-wo-walktrough.html'" class="btn-large waves-effect waves-dark cyan darken-1 wow rotateIn" type="button">Login</button>
        <br>
        <a href="">Forgot Password?</a>
      </div>
    </div>
  </div>

<!-- language dropdown -->
<ul id="languageDropdown" class="navbar dropdown-content">
  <li class="active">
    <a href="#!" id="Kurdish" data-value="ku" class="btn-medium waves-effect language">sorani</a>
  </li>
  <li>
    <a href="#!" id="English" data-value="en" class="btn-medium waves-effect language">english</a>
  </li>
</ul>

@@include('./base/footer.tpl.html')