@@include('./base/header.tpl.html',
{
  "bodyClass": "summon",
  "htmlClass": "summon",
  "title": "Summons list view"
})

@@include('./layout/header.html', {
  "courtName": "{{Texts.NotificationDepartment}}"
})

<main>
  <div class="main-banner"></div>
  <div class="card-onbanner">
    <div class="container">
      <div class="row no-marg-bot">
        <div class="col s12">
          @@include('./layout/summons/summons-filter.html',
          {
            "ffwTo": "summons-edit.html"
          })

        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-content row with-table">
      @@include('./layout/summons/summons-table.html',
      {
        "ffwTo": "summons-edit.html"
      })
    </div>
  </div>
</main>

@@include('./layout/footer.html')

@@include('./base/footer.tpl.html')